Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

chore: updated integration config
  lib/wraft_doc/integrations/integration_config.ex
Due: mix-format, mix-compile, mix-credo

chore: updated sync funtionality
  lib/wraft_doc/cloud_import/providers.ex
  lib/wraft_doc/cloud_import/providers/google_drive.ex
  lib/wraft_doc/storage/storage_items.ex
  lib/wraft_doc_web/controllers/cloud_auth_controller.ex
Due: mix-format, mix-compile, mix-credo

fix: handle deactivated user from login
  lib/wraft_doc_web/admin/internal_user_admin.ex
  lib/wraft_doc_web/controllers/session_controller.ex
Due: mix-format, mix-compile, mix-credo

feat: change password with current password checks
  lib/wraft_doc_web/admin/internal_user_admin.ex
Due: mix-format, mix-compile, mix-credo

fix: approving waiting of guest user
  lib/wraft_doc/internal_users/internal_user.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/admin/internal_user_admin.ex
  lib/wraft_doc_web/admin/user_admin.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  lib/wraft_doc_web/controllers/waiting_list_controller.ex
Due: mix-format, mix-compile, mix-credo

feat: add filtering for waiting list
  lib/wraft_doc_web/admin/waiting_list_admin.ex
Due: mix-format, mix-compile, mix-credo

feat: add internal user activate deactivate actions
  lib/wraft_doc/internal_users/internal_user.ex
  lib/wraft_doc/internal_users/internal_users.ex
  lib/wraft_doc_web/admin/internal_user_admin.ex
Due: mix-format, mix-compile, mix-credo

feat: update internal user changeset and enhance admin user display
  lib/wraft_doc/internal_users/internal_user.ex
  lib/wraft_doc_web/admin/internal_user_admin.ex
  lib/wraft_doc_web/admin/user_admin.ex
Due: mix-format, mix-compile, mix-credo

refactor: improve formatting and readability in admin modules
  lib/wraft_doc_web/admin/internal_user_admin.ex
  lib/wraft_doc_web/admin/user_admin.ex
Due: mix-format, mix-compile, mix-credo

refactor: remove unhandled response clause from fallback controller
  lib/wraft_doc_web/controllers/fallback_controller.ex
Due: mix-format, mix-compile, mix-credo

fix: handle duplicate membership error in waiting list controller
  lib/wraft_doc_web/controllers/waiting_list_controller.ex
Due: mix-format, mix-compile, mix-credo

feat: enhance user registration process with structured multi-step flow
  lib/wraft_doc/user/account.ex
Due: mix-format, mix-compile, mix-credo

fix: email verify of organisation invited user
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  lib/wraft_doc_web/controllers/registration_controller.ex
  lib/wraft_doc_web/email/email.ex
Due: mix-format, mix-compile, mix-credo

fix: email template logo url
  config/config.exs
  lib/wraft_doc_web/mjml/templates/comment_notification.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_fully_signed.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_instance_share.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_mail.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_reminder.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_state_update.mjml.eex
  lib/wraft_doc_web/mjml/templates/email_verification.mjml.eex
  lib/wraft_doc_web/mjml/templates/invite.mjml.eex
  lib/wraft_doc_web/mjml/templates/join.mjml.eex
  lib/wraft_doc_web/mjml/templates/notification.mjml.eex
  lib/wraft_doc_web/mjml/templates/organisation_delete_code.mjml.eex
  lib/wraft_doc_web/mjml/templates/password_reset.mjml.eex
  lib/wraft_doc_web/mjml/templates/password_set.mjml.eex
  lib/wraft_doc_web/mjml/templates/pending_approval.mjml.eex
  lib/wraft_doc_web/mjml/templates/signature_completed.mjml.eex
  lib/wraft_doc_web/mjml/templates/signature_request.mjml.eex
  lib/wraft_doc_web/mjml/templates/waiting_list_join.mjml.eex
  lib/wraft_doc_web/mjml/templates/welcome_email.mjml.eex
Due: mix-format, mix-credo

fix: update support email references across templates and documentation
  CODE_OF_CONDUCT.md
  config/config.exs
  lib/wraft_doc_web/mjml/templates/comment_notification.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_fully_signed.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_instance_share.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_mail.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_state_update.mjml.eex
  lib/wraft_doc_web/mjml/templates/email_verification.mjml.eex
  lib/wraft_doc_web/mjml/templates/notification.mjml.eex
  lib/wraft_doc_web/mjml/templates/organisation_delete_code.mjml.eex
  lib/wraft_doc_web/mjml/templates/password_reset.mjml.eex
  lib/wraft_doc_web/mjml/templates/pending_approval.mjml.eex
  lib/wraft_doc_web/mjml/templates/signature_completed.mjml.eex
  lib/wraft_doc_web/mjml/templates/signature_request.mjml.eex
  lib/wraft_doc_web/mjml/templates/waiting_list_join.mjml.eex
  lib/wraft_doc_web/mjml/templates/welcome_email.mjml.eex
Due: mix-format, mix-credo

fix: update security contact information and links in SECURITY.md
  SECURITY.md
Due: none

docs: update links and references in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: update README and update logo
  README.md
  priv/static/images/logo-white.svg
Due: none

feat: update README with new logo sources
  README.md
  priv/static/images/logo-black.svg
  priv/static/images/logo-white.svg
Due: none

feat: logo test
  README.md
Due: none

refactor: test
  README.md
Due: none

chore: test logo
  README.md
Due: none

docs: add INSTALLATION.md and update README for installation instructions
  INSTALLATION.md
  README.md
Due: none

docs: add comprehensive installation instructions in INSTALLATION.md
  INSTALLATION.md
Due: none

fix: update product attribution in README
  README.md
Due: none

docs: update Discord link in README
  README.md
Due: none

feat: enhance internal user with activate deactivate actions (#156)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  INSTALLATION.md
  README.md
  SECURITY.md
  config/config.exs
  lib/wraft_doc/internal_users/internal_user.ex
  lib/wraft_doc/internal_users/internal_users.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/admin/internal_user_admin.ex
  lib/wraft_doc_web/admin/user_admin.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  lib/wraft_doc_web/controllers/fallback_controller.ex
  lib/wraft_doc_web/controllers/registration_controller.ex
  lib/wraft_doc_web/controllers/session_controller.ex
  lib/wraft_doc_web/controllers/waiting_list_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/mjml/templates/comment_notification.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_fully_signed.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_instance_share.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_mail.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_reminder.mjml.eex
  lib/wraft_doc_web/mjml/templates/document_state_update.mjml.eex
  lib/wraft_doc_web/mjml/templates/email_verification.mjml.eex
  lib/wraft_doc_web/mjml/templates/invite.mjml.eex
  lib/wraft_doc_web/mjml/templates/join.mjml.eex
  lib/wraft_doc_web/mjml/templates/notification.mjml.eex
  lib/wraft_doc_web/mjml/templates/organisation_delete_code.mjml.eex
  lib/wraft_doc_web/mjml/templates/password_reset.mjml.eex
  lib/wraft_doc_web/mjml/templates/password_set.mjml.eex
  lib/wraft_doc_web/mjml/templates/pending_approval.mjml.eex
  lib/wraft_doc_web/mjml/templates/signature_completed.mjml.eex
  lib/wraft_doc_web/mjml/templates/signature_request.mjml.eex
  lib/wraft_doc_web/mjml/templates/waiting_list_join.mjml.eex
  lib/wraft_doc_web/mjml/templates/welcome_email.mjml.eex
  priv/static/images/logo-black.svg
  priv/static/images/logo-white.svg
Due: mix-format, mix-compile, mix-credo

refactor: update route syntax in controller tests
  test/wraft_doc_web/controllers/repository_controller_test.exs
  test/wraft_doc_web/controllers/storage_asset_controller_test.exs
  test/wraft_doc_web/controllers/storage_item_controller_test.exs
  test/wraft_doc_web/controllers/storage_items_controller_test.exs
  test/wraft_doc_web/controllers/storage_sync_job_controller_test.exs
Due: mix-format, mix-credo

refactor: update module aliases in document test files
  test/wraft_doc/document/block_test.exs
  test/wraft_doc/document/layout_asset_test.exs
  test/wraft_doc/document/layout_test.exs
Due: mix-format, mix-credo

feat: skip bucket operations in test environment
  lib/mix/tasks/wraft.bucket.ex
Due: mix-format, mix-compile, mix-credo

feat: add MinIO utility functions for file management
  lib/wraft_doc/minio/utils.ex
  test/support/factory.ex
  test/support/fixtures/storage_fixtures.ex
  test/wraft_doc_web/controllers/storage_items_controller_test.exs
Due: mix-format, mix-compile, mix-credo

refactor: streamline bucket existence checks and creation in Mix task
  lib/mix/tasks/wraft.bucket.ex
  test/test_helper.exs
  test/wraft_doc/storage_test.exs
Due: mix-format, mix-compile, mix-credo

fix: body color and primary color in latex templates
  priv/slugs/contract/template.tex
  priv/slugs/pletter/template.tex
Due: none

fix:scheduled refresh token fetcher
  lib/wraft_doc/cloud_import/clouds_auth.ex
  lib/wraft_doc/cloud_import/providers.ex
  lib/wraft_doc/cloud_import/providers/dropbox.ex
  lib/wraft_doc/cloud_import/providers/google_drive.ex
  lib/wraft_doc/cloud_import/providers/onedrive.ex
  lib/wraft_doc/cloud_import/refresh_token.ex
  lib/wraft_doc/integrations/integrations.ex
  lib/wraft_doc/storage/storage_items.ex
  lib/wraft_doc/workers/cloud_import_worker.ex
  lib/wraft_doc_web/controllers/cloud_import_controller.ex
  lib/wraft_doc_web/controllers/fallback_controller.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor integration access token error handling
  lib/wraft_doc/cloud_import/refresh_token.ex
  lib/wraft_doc/integrations/integration_config.ex
  lib/wraft_doc/integrations/integrations.ex
  lib/wraft_doc/workers/cloud_import_worker.ex
  lib/wraft_doc_web/controllers/cloud_import_controller.ex
  lib/wraft_doc_web/controllers/storage_item_controller.ex
  lib/wraft_doc_web/plug/dropbox_auth_plug.ex
  lib/wraft_doc_web/plug/google_auth_plug.ex
  lib/wraft_doc_web/plug/onedrive_auth_plug.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
