Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-format
        name: Format Elixir files
        entry: mix format
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors

        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

[WD-894] create-an-api-for-sending-custom-email-after-document-generation (#71)
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/organisation/state.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/controllers/state_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/instance_view.ex
  lib/wraft_doc_web/views/state_view.ex
  priv/repo/migrations/20240827075748_add_type_for_state.exs
Due: mix-format, mix-compile, mix-credo

[WD-895] run a single pipeline on form submission (#72)
  lib/wraft_doc/forms.ex
  lib/wraft_doc_web/controllers/form_controller.ex
  lib/wraft_doc_web/controllers/form_entry_controller.ex
Due: mix-format, mix-compile, mix-credo

feat: add pipe_stages count for given pipelines index against each pipeline (#73)
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/document/pipeline.ex
  lib/wraft_doc_web/views/pipeline_view.ex
Due: mix-format, mix-compile, mix-credo

fix: return 403 on error fake if the token is not found and add last signed in org reset to personal on organisation deletion (#75)
  lib/wraft_doc_web/controllers/fallback_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
Due: mix-format, mix-compile, mix-credo

chore: script for linking pipeline source ids for form and pipeline for missing links between them in form_pipeline table
  priv/repo/data/migrations/link_form_and_pipeline_if_it_doesnt_exist.exs
Due: mix-format, mix-credo

[WD-897] Add-error-in-case-on-delete-of-form-to-ensure-that-pipelines-doesnt-exist (#76)
  lib/wraft_doc/forms.ex
  lib/wraft_doc_web/controllers/form_controller.ex
  priv/repo/data/migrations/link_form_and_pipeline_if_it_doesnt_exist.exs
Due: mix-format, mix-compile, mix-credo

feature/WD-901-revamp-the-folder-structure-within-object-storage-system (#78)
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/logic_pipeline/pipeline_runner.ex
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/block_controller.ex
  lib/wraft_doc_web/controllers/instance_approval_system_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/controllers/payment_controller.ex
  lib/wraft_doc_web/uploaders/asset_uploader.ex
  lib/wraft_doc_web/uploaders/block_input_uploader.ex
  lib/wraft_doc_web/uploaders/invoice_uploader.ex
  lib/wraft_doc_web/uploaders/layout_screenshot_uploader.ex
  lib/wraft_doc_web/uploaders/layout_slug_uploader.ex
  lib/wraft_doc_web/uploaders/logo_uploader.ex
  lib/wraft_doc_web/uploaders/propic_uploader.ex
  lib/wraft_doc_web/uploaders/template_asset_uploader.ex
  lib/wraft_doc_web/uploaders/theme_preview_uploader.ex
  lib/wraft_doc_web/uploaders/theme_uploader.ex
  priv/repo/data/content.json
  priv/repo/data/minio/backup_data.exs
  priv/repo/data/minio/delete_bucket.exs
  priv/repo/data/minio/revamp_file_structure.exs
  priv/repo/data/minio/utils.ex
Due: mix-format, mix-compile, mix-credo

feat: add user resend set password admin trigger on demand (#79)
  lib/wraft_doc/auth_tokens.ex
  lib/wraft_doc_web/admin/user_admin.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
Due: mix-format, mix-compile, mix-credo

fix: format file naming while creating asset to replace hyphen with spaces
  lib/wraft_doc/document/asset.ex
Due: mix-format, mix-compile, mix-credo

Create env example file wraft-docs/wraft-docs-api!188
  .DS_Store
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .tool-versions
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  Makefile
  README.md
  SECURITY.md
  assets/.DS_Store
  lib/.DS_Store
  priv/.DS_Store
  priv/static/images/screenshot01.png
  priv/static/images/wraft-logo.png
  priv/static/images/wraft-top-banner.png
  test/.DS_Store
Due: none

Create env example file wraft-docs/wraft-docs-api!188
  .DS_Store
  .env.example
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .tool-versions
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  Makefile
  README.md
  SECURITY.md
  assets/.DS_Store
  lib/.DS_Store
  priv/.DS_Store
  priv/static/images/screenshot01.png
  priv/static/images/wraft-logo.png
  priv/static/images/wraft-top-banner.png
  test/.DS_Store
Due: none

chore: misc update
  .env.example
Due: none

chore: add config
  .gitlab-ci.yml
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
  scripts/.env.prod
  scripts/build-dev.sh
  scripts/build.sh
Due: mix-format, mix-credo

chores: Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none
