Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: Run test suite
  entry: zsh -c 'source .env' && mix test
  language: system
  pass_filenames: false

mix-format:
  name: Format Elixir files
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

environment variables shifted to .env
  docker-compose.yml
Due: none

docker copy files changed
  Dockerfile
Due: none

docker image size brought down from 8.5GB to 2.23GB
  Dockerfile
Due: none

rebased from dockerr branch
  .dockerignore
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-credo

refactore, grouped same functions
  lib/wraft_doc/document/document.ex
Due: mix-test, mix-format, mix-compile, mix-credo

.env added to .dockerignore
  .dockerignore
Due: none

ecto migration issue fixed for docker setup
  entrypoint.sh
Due: none

Helm init
  helm/.gitkeep
Due: none

Added beta URL to CORS
  lib/wraft_doc/document/document.ex
  lib/wraft_doc_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix cors
  lib/wraft_doc_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Use regex for CORS plug
  lib/wraft_doc_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
