Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

chore: relocate Promirror to utils
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
Due: mix-format, mix-compile, mix-credo

chore: misc update
  config/config.exs
  lib/wraft_doc/documents/organisation_field.ex
  lib/wraft_doc/fields/field.ex
  lib/wraft_doc/kaffy.ex
  lib/wraft_doc/seed.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/admin/field_type_admin.ex
  lib/wraft_doc_web/uploaders/theme_preview_uploader.ex
  lib/wraft_doc_web/uploaders/theme_uploader.ex
  priv/repo/migrations/20230808094548_create_basic_field_types.exs
  test/support/factory.ex
  test/wraft_doc/document/block_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/document/field_type_test.exs
  test/wraft_doc/document/theme_test.exs
  test/wraft_doc_web/controllers/block_controller_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/field_type_controller_test.exs
  test/wraft_doc_web/controllers/pipeline_controller_test.exs
  test/wraft_doc_web/controllers/theme_controller_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
Due: mix-format, mix-compile, mix-credo

chore: collection form
  .iex.exs
  lib/wraft_doc/collection_forms/collection_form.ex
  lib/wraft_doc/collection_forms/collection_form_field.ex
  lib/wraft_doc/collection_forms/collection_forms.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc_web/controllers/collection_form_controller.ex
  lib/wraft_doc_web/controllers/collection_form_field_controller.ex
  test/support/factory.ex
  test/wraft_doc/document/collection_form_field_test.exs
  test/wraft_doc/document/collection_form_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/controllers/collection_form_controller_test.exs
  test/wraft_doc_web/controllers/collection_form_field_controller_test.exs
Due: mix-format, mix-compile, mix-credo

fix: asset
  lib/wraft_doc/user/user.ex
  test/support/factory.ex
Due: mix-format, mix-compile, mix-credo

feat: add typst engine
  lib/wraft_doc/documents/document_settings.ex
  lib/wraft_doc/documents/instance.ex
  lib/wraft_doc/seed.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  priv/repo/migrations/20250225013207_add_pandoc_typst_engine.exs
  priv/repo/seeds.exs
  priv/slugs/contract/content.md
Due: mix-format, mix-compile, mix-credo

feat: API to add remove and generate presigned url for document image and aa function to refresh the presigned url for images in document
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc/doc_conversion.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

feat: API to redirect image url to minio path
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

fix: use asset_id to track the uploaded image in db
  lib/wraft_doc/assets/asset.ex
  lib/wraft_doc/doc_conversion.ex
  lib/wraft_doc/documents/instance.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/uploaders/asset_uploader.ex
  priv/repo/migrations/20250219125828_create_document_asset_table.exs
Due: mix-format, mix-compile, mix-credo

fix: move get image url api to unauthorized route
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

refactor: move the get image and add image apis to asset controller
  lib/wraft_doc_web/controllers/asset_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

feat: add typst templates
  .gitignore
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/seed.ex
  priv/slugs/contract/default.typst
  priv/slugs/contract/template.typst
Due: mix-format, mix-compile, mix-credo

feat: API to add remove and generate presigned url for document image and aa function to refresh the presigned url for images in document
  lib/wraft_doc/doc_conversion.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

fix: apis limited using asset id for get_image and adding document asset image as well as keeping track of expiry time in db
  lib/wraft_doc/assets/asset.ex
  lib/wraft_doc/documents/instance.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
  priv/repo/migrations/20250219125828_create_document_asset_table.exs
Due: mix-format, mix-compile, mix-credo

chore: remove unwanted files
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
Due: mix-format, mix-compile, mix-credo

fix: minor fixes to handle the initialisation case for url generation
  lib/wraft_doc_web/router.ex
  priv/repo/migrations/20250219125828_create_document_asset_table.exs
Due: mix-format, mix-compile, mix-credo

feat: add lua filters to pandoc and minor temporary fix for minio url
  mix.exs
  mix.lock
  priv/pandoc_filters/filters.yaml
  priv/pandoc_filters/s3_image.lua
Due: mix-format, mix-credo

fix: ensure that generated url lasts for 1 hour instead of defaulted 5 minutes
  lib/wraft_doc_web/views/asset_view.ex
Due: mix-format, mix-compile, mix-credo

feat: minor fix in image redirect url on image expiry and add image compression to reduce quality by 85 percent and remove meta data as well as reduce size to 1024*1024
  lib/wraft_doc_web/uploaders/asset_uploader.ex
Due: mix-format, mix-compile, mix-credo

refactor: move asset related functions to assets context
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
Due: mix-format, mix-compile, mix-credo

feat(docker): add Typst support and update Pandoc version
  Dockerfile
  Dockerfile.dev
Due: none

fix(docker): docker file
  Dockerfile
Due: none

fix(docker): update debian version in docker file
  Dockerfile
  Dockerfile.dev
Due: none

fix: organisation remove user bug
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
Due: mix-format, mix-compile, mix-credo

feat: add typst letter template
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/documents/document_settings.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/documents/instance.ex
  lib/wraft_doc/utils/pdf_to_image_converter.ex
  mix.exs
  mix.lock
  priv/slugs/pletter/default.typst
  priv/slugs/pletter/template.typst
Due: mix-format, mix-compile, mix-credo

docs: add imagemagick to readme
  README.md
Due: none

feat: add imagemagic dependency to dockerfile
  Dockerfile
  Dockerfile.dev
Due: none

feat: add toc depth in contract latex slug
  lib/wraft_doc_web/controllers/instance_controller.ex
  priv/slugs/contract/template.tex
  priv/slugs/pletter/template.tex
Due: mix-format, mix-compile, mix-credo

fix: dynamically look for the endpoint or base url to be used in lua script
  config/config.exs
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc_web/email/email.ex
  priv/pandoc_filters/s3_image.lua
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

docs: update imagemagick readme to add the url to downlaod page to get speicific OS based installation
  README.md
Due: none

feat: add image to generate document (#46)
  Dockerfile
  Dockerfile.dev
  README.md
  config/config.exs
  lib/wraft_doc/assets/asset.ex
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/doc_conversion.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/uploaders/asset_uploader.ex
  lib/wraft_doc_web/views/asset_view.ex
  mix.exs
  mix.lock
  priv/pandoc_filters/filters.yaml
  priv/pandoc_filters/s3_image.lua
  priv/repo/migrations/20250219125828_create_document_asset_table.exs
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

fix(docker): version issue
  Dockerfile
  Dockerfile.dev
Due: none

fix(docker): update production docker file
  Dockerfile
Due: none

fix: pr and testing
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/notifications/notifications.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
Due: mix-format, mix-compile, mix-credo

fix: add backend url as env variable for image generation
  .env.example
  config/config.exs
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo

fix: add backend url as env variable for image generation (#47)
  .env.example
  config/config.exs
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo

chore: add background pdf to typst
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/utils/pdf_to_image_converter.ex
  mix.exs
  priv/slugs/pletter/default.typst
Due: mix-format, mix-compile, mix-credo

fix: path issue in typst
  lib/wraft_doc/documents/documents.ex
  priv/slugs/contract/default.typst
  priv/slugs/pletter/default.typst
Due: mix-format, mix-compile, mix-credo

fix: image generation issue in PDF export
  Dockerfile
Due: none

fix: image generation issue in PDF export (#49)
  Dockerfile
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
