Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-format
        name: Format Elixir files
        entry: mix format
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors

        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

chore: refactor prepare theme helper functions
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

chore: add function documentation for get_object/1 in minio
  lib/wraft_doc/client/minio.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor get_object/1 , extract_and_save_fonts/3 and remove .env.dev
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

Feature/improvement v3 (#5)
  .env.example
  .gitignore
  .tool-versions
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.dev
  Makefile
  README.md
  config/dev.exs
  config/runtime.exs
  docker-compose.yml
  entrypoint_dev.sh
  lib/wraft_doc/document/content_type_field.ex
  lib/wraft_doc/document/field_type.ex
  lib/wraft_doc_web/controllers/membership_controller.ex
  lib/wraft_doc_web/controllers/pipe_stage_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  lib/wraft_doc_web/views/block_template_view.ex
  lib/wraft_doc_web/views/instance_approval_system_view.ex
  lib/wraft_doc_web/views/template_asset_view.ex
  mix.lock
  priv/repo/migrations/20200507065745_create_pipeline_table.exs
  priv/repo/migrations/20220405094519_create_ex_audit_version_table.exs
  priv/repo/migrations/20240607040148_add_unique_index_between_pipe_stage_and_data_template.exs
  priv/repo/seed.ex
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

bugfix/wra-288-fix-edge-cases-on-attempting-to-unassign-a-role-of-a-user (#84)
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/role_controller.ex
  lib/wraft_doc_web/views/role_view.ex
Due: mix-format, mix-compile, mix-credo

chore(release): bump version to 0.4.2
  mix.exs
Due: mix-format, mix-credo

Add author and title into meta tags of the generated document (#6)
  .gitignore
  priv/repo/data/minio/update_slugs.exs
  priv/slugs/contract/template.tex
  priv/slugs/pletter/template.tex
Due: mix-format, mix-credo

Feature/create template asset import (#7)
  .gitignore
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc/template_assets/template_asset.ex
  lib/wraft_doc/template_assets/wraft_json.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/uploaders/template_asset_uploader.ex
  lib/wraft_doc_web/views/template_asset_view.ex
  mix.exs
  mix.lock
  priv/repo/data/rbac/permissions.csv
  priv/repo/migrations/20240902063339_add_wraft_json_to_template_asset.exs
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-compile, mix-credo

fix: cast with options in ecto_type/validation_type_test
  test/wraft_doc/ecto_type/validation_type_test.exs
Due: mix-format, mix-credo

fix: account test, add last signed org id in user_with_personal_organisation_factory
  test/support/factory.ex
  test/wraft_doc/user/account_test.exs
Due: mix-format, mix-compile, mix-credo

fix: organisation enterprise tests, modified factory
  test/support/factory.ex
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-compile, mix-credo

fix: form tests update factory
  test/support/factory.ex
  test/wraft_doc/forms/form_entry_test.exs
  test/wraft_doc/forms/form_field_test.exs
  test/wraft_doc/forms/form_mapping_test.exs
Due: mix-format, mix-compile, mix-credo

fix: waiting list test, add secret_key_base in test config
  config/test.exs
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/waiting_lists/waiting_lists_test.exs
Due: mix-format, mix-credo

fix: authorization list resource test
  test/wraft_doc/authorization_test.exs
Due: mix-format, mix-credo

fix: fix few test in document and add #FIXME to test/wraft_doc
  test/support/factory.ex
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/document/asset_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
Due: mix-format, mix-compile, mix-credo

fix: 2 pipeline runner test
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
Due: mix-format, mix-credo

fix: add FIXME to failed tests in wraft_doc_web
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/data_template_controller_test.exs
  test/wraft_doc_web/controllers/flow_controller_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/permission_controller_test.exs
  test/wraft_doc_web/controllers/pipe_stage_controller_test.exs
  test/wraft_doc_web/controllers/pipeline_controller_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/role_controller_test.exs
  test/wraft_doc_web/controllers/state_controller_test.exs
  test/wraft_doc_web/controllers/theme_controller_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
  test/wraft_doc_web/plug/action_logging_test.exs
Due: mix-format, mix-credo

fix: theme controller test
  test/wraft_doc_web/controllers/theme_controller_test.exs
Due: mix-format, mix-credo

fix: fix pipe stages failure document test
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

fix: document/pipestage
  test/wraft_doc/document/pipe_stage_test.exs
Due: mix-format, mix-credo

update envrc and gitignore, renamed .dev.env to .env.dev
  .gitignore
Due: none

fix: action logging test
  test/wraft_doc_web/plug/action_logging_test.exs
Due: mix-format, mix-credo

fix: role controller test
  test/wraft_doc_web/controllers/role_controller_test.exs
Due: mix-format, mix-credo

fix: insstance controller test and a test in data template controller
  test/wraft_doc_web/controllers/data_template_controller_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
Due: mix-format, mix-credo

fix: flow controller align states/2
  test/wraft_doc_web/controllers/flow_controller_test.exs
Due: mix-format, mix-credo

fix: permission controller test
  test/wraft_doc_web/controllers/permission_controller_test.exs
Due: mix-format, mix-credo

fix: pipeline controller test
  lib/wraft_doc/document/document.ex
  test/wraft_doc_web/controllers/pipeline_controller_test.exs
Due: mix-format, mix-compile, mix-credo

update FIXME tag
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/document/asset_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/pipe_stage_controller_test.exs
  test/wraft_doc_web/controllers/state_controller_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-credo

fix: user controller test
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-credo

fix: state controller test and update few FIXME tag
  test/wraft_doc_web/controllers/state_controller_test.exs
Due: mix-format, mix-credo

fix: test failed because of profile_pic in profile
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/state_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-credo

fix: auth tokens test
  test/wraft_doc/auth_tokens_test.exs
Due: mix-format, mix-credo

fix: content type controller test and update few FIXME tag
  test/wraft_doc_web/controllers/content_type_controller_test.exs
Due: mix-format, mix-credo

fix: organisation controller test
  test/wraft_doc_web/controllers/organisation_controller_test.exs
Due: mix-format, mix-credo

feat: add new test for asset name formatting, add new pdf file to test helper and refactor name_formatting/1
  lib/wraft_doc/document/asset.ex
  test/helper/wraft invoice.pdf
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

fix: asset test and refactor format_naming/1 in asset schema module
  lib/wraft_doc/document/asset.ex
  test/wraft_doc/document/asset_test.exs
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

fix: email_test
  mix.exs
  mix.lock
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-credo

fix: pipeline runner test and trigger history controller test
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
Due: mix-format, mix-credo

fix: pipe stage controller test, remove state id in params
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/controllers/data_template_controller_test.exs
  test/wraft_doc_web/controllers/pipe_stage_controller_test.exs
Due: mix-format, mix-credo

fix: block template controller test and remove state id in pipe stage tests
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
Due: mix-format, mix-credo
