Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-format
        name: Format Elixir files
        entry: mix format
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors

        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

[WD-432][WD-433][WD-436] Added tests for Account module wraft-docs/wraft-docs-api!79
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/user/activity.ex
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/role_controller.ex
  test/support/conn_case.ex
  test/support/factory.ex
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/role_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-compile, mix-credo

Resolve WD-539 "Feature/ create tables for wraft forms" wraft-docs/wraft-docs-api!94
  lib/wraft_doc/document/content_type.ex
  lib/wraft_doc/document/content_type_field.ex
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/document/field.ex
  lib/wraft_doc/document/field_type.ex
  lib/wraft_doc/document/pipe_stage.ex
  lib/wraft_doc/document/pipeline.ex
  lib/wraft_doc/forms/form.ex
  lib/wraft_doc/forms/form_entry.ex
  lib/wraft_doc/forms/form_field.ex
  lib/wraft_doc/forms/form_mapping.ex
  lib/wraft_doc/forms/form_pipeline.ex
  lib/wraft_doc/organisation/organisation.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc/validations/validation.ex
  priv/repo/data/migrations/migrate_content_type_fields.exs
  priv/repo/migrations/20230720101347_form_related_tables.exs
  test/support/factory.ex
  test/wraft_doc/document/content_type_field_test.exs
  test/wraft_doc/document/field_test.exs
  test/wraft_doc/document/field_type_test.exs
  test/wraft_doc/document/layout_asset_test.exs
  test/wraft_doc/forms/form_entry_test.exs
  test/wraft_doc/forms/form_field_test.exs
  test/wraft_doc/forms/form_mapping_test.exs
  test/wraft_doc/forms/form_pipeline_test.exs
  test/wraft_doc/forms/form_test.exs
  test/wraft_doc/validations/validation_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-565] create-custom-ecto-type-for-validation-values wraft-docs/wraft-docs-api!97
  lib/wraft_doc/ecto_type/atom_type.ex
  lib/wraft_doc/ecto_type/validation_type.ex
  lib/wraft_doc/notifications/notification.ex
  lib/wraft_doc/validations/validation.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20230803133102_seed_basic_field_type.exs
  test/wraft_doc/document/field_type_test.exs
  test/wraft_doc/ecto_type/atom_type_test.exs
  test/wraft_doc/ecto_type/validation_type_test.exs
  test/wraft_doc/forms/form_field_test.exs
  test/wraft_doc/validations/validation_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-567] Changed the index page wraft-docs/wraft-docs-api!98
  lib/wraft_doc_web/templates/page/index.html.heex
Due: none

[WD-561] setup all the basic field types support wraft-docs/wraft-docs-api!99
  priv/repo/migrations/20230808094548_create_basic_field_types.exs
  priv/repo/seed_gate.ex
  priv/repo/seeds.exs
Due: mix-format, mix-compile, mix-credo

refactor: Updated CORSPlug to accept all URLs
  lib/wraft_doc_web/endpoint.ex
Due: mix-format, mix-compile, mix-credo

[WD-564]Replaced content type field with field wraft-docs/wraft-docs-api!100
  config/runtime.exs
  lib/wraft_doc/client/razorpay.ex
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/document/field.ex
  lib/wraft_doc/document/field_type.ex
  lib/wraft_doc/forms/form_field.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/controllers/content_type_field_controller.ex
  lib/wraft_doc_web/controllers/field_type_controller.ex
  lib/wraft_doc_web/views/content_type_view.ex
  lib/wraft_doc_web/views/field_type_view.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20230720101347_form_related_tables.exs
  priv/repo/migrations/20230802151426_add_default_value_for_meta_column_in_field_table.exs
  priv/repo/migrations/20230803133102_seed_basic_field_type.exs
  priv/repo/migrations/20230808094548_create_basic_field_types.exs
  priv/repo/seeds.exs
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/document/field_test.exs
  test/wraft_doc/document/field_type_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc/validations/validation_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/field_type_controller_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-434] add new tests and refactor existing ones in wraft doc enterprise tests wraft-docs/wraft-docs-api!102
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-credo

fix: Used function to get bucket name instead of module attribute wraft-docs/wraft-docs-api!103
  lib/wraft_doc/client/minio.ex
Due: mix-format, mix-compile, mix-credo

[WD-540] Create API for Wraft Forms wraft-docs/wraft-docs-api!104
  lib/mix/tasks/wraft.permissions.ex
  lib/wraft_doc/forms.ex
  lib/wraft_doc/forms/form.ex
  lib/wraft_doc/forms/form_pipeline.ex
  lib/wraft_doc/schema.ex
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/controllers/field_type_controller.ex
  lib/wraft_doc_web/controllers/form_controller.ex
  lib/wraft_doc_web/controllers/organisation_field_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/content_type_view.ex
  lib/wraft_doc_web/views/flow_view.ex
  lib/wraft_doc_web/views/form_view.ex
  priv/repo/data/rbac/permissions.csv
  priv/repo/migrations/20230825004607_add_unique_index_for_prefix_in_form_table.exs
  test/mix/tasks/wraft.permissions_test.exs
  test/wraft_doc/authorization_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/forms/form_pipeline_test.exs
  test/wraft_doc/forms/form_test.exs
  test/wraft_doc/forms_test.exs
  test/wraft_doc_web/controllers/flow_controller_test.exs
  test/wraft_doc_web/controllers/form_controller_test.exs
  test/wraft_doc_web/controllers/permission_controller_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-568] Use Wraft logo in Kaffy wraft-docs/wraft-docs-api!106
  assets/static/images/phoenix.png
  priv/static/favicon.ico
  priv/static/images/WidthFull.svg
  priv/static/images/WidthShort.svg
  priv/static/robots.txt
Due: none

[WD-578] Update seeds to have a enough working data in any environment wraft-docs/wraft-docs-api!105
  lib/wraft_doc_web/uploaders/asset_uploader.ex
  lib/wraft_doc_web/uploaders/logo_uploader.ex
  lib/wraft_doc_web/uploaders/propic_uploader.ex
  priv/repo/data/countries.json
  priv/repo/migrations/20230826053211_seed_countries.exs
  priv/repo/migrations/20230826081951_seed_free_trial_plan.exs
  priv/repo/seed.ex
  priv/repo/seeds.exs
  priv/static/images/avatar.png
  priv/static/images/logo.png
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc/user/profile_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
Due: mix-format, mix-compile, mix-credo

Fixed file path for seeds in release wraft-docs/wraft-docs-api!107
  lib/wraft_doc/release.ex
Due: mix-format, mix-compile, mix-credo
