Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-test
        name: Run test suite
        entry: zsh -c 'source .env' && mix test
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-format
        name: Format Elixir files
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

tests added engine_list, get_content_type_from_is
  lib/wraft_doc/document/document.ex
  lib/wraft_doc_web/admin/user_admin.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

added tests delete_instance/2, instance_state_update/5
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/document/instance_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc_web/controllers/collection_form_controller_test.exs
  test/wraft_doc_web/controllers/collection_form_field_controller_test.exs
  test/wraft_doc_web/controllers/content_type_role_controller_test.exs
  test/wraft_doc_web/controllers/instance_approval_system_controller_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
  test/wraft_doc_web/controllers/organisation_field_controller_test.exs
  test/wraft_doc_web/controllers/plan_controller_test.exs
  test/wraft_doc_web/controllers/role_group_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

new tests added in document.ex
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

some comments removed
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

new tests added in document.ex
  lib/wraft_doc/document/document.ex
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

layout_files_upload test added
  test/fixtures/example.png
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-credo

layout_files_upload test 2 test added
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

added tests create_instance/3, get_built_document/1, added phoenix_view library
  lib/wraft_doc/document/document.ex
  mix.exs
  mix.lock
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

refactored oban workers and others
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/notifications/notifications.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/workers/bulk_worker.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc/workers/scheduled_worker.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  mix.exs
  mix.lock
  priv/static/assets/app.js
  test/support/macros/authentication_tests_macro.ex
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

credo warningd fixed
  lib/wraft_doc/document/document.ex
  mix.lock
  priv/repo/seeds.exs
  test/support/data_case.ex
  test/support/factory.ex
  test/test_helper.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc_web/controllers/collection_form_controller_test.exs
  test/wraft_doc_web/controllers/collection_form_field_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

added coveralls.json, and signin button to homepage
  .gitignore
  coveralls.json
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/templates/layout/app.html.heex
  mix.lock
  priv/static/assets/app.js
  test/wraft_doc_web/controllers/role_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

new tests added in document.ex
  coveralls.json
  lib/wraft_doc/document/document.ex
  mix.exs
  mix.lock
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

new tests added in document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-credo

.gitignore updated
  .gitignore
Due: none

seeds, content.json added
  priv/repo/data/content.json
  priv/repo/seeds.exs
Due: mix-test, mix-format, mix-credo
