Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-format
        name: Format Elixir files
        entry: mix format
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors

        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

[WD-859] Handled error return if the build failed (#46)
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/document/trigger_history.ex
  lib/wraft_doc/logic_pipeline/pipeline_runner.ex
  lib/wraft_doc/workers/bulk_worker.ex
Due: mix-format, mix-compile, mix-credo

[WD-861] replace wraft email to no-reply@wraft.app (#47)
  lib/wraft_doc_web/email/email.ex
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

fix: minor email send fix
  lib/wraft_doc_web/email/email.ex
Due: mix-format, mix-compile, mix-credo

fix: move the sender_email key from config.exs to runtime.exs
  config/runtime.exs
Due: mix-format, mix-credo

[WD-730] Font-file-duplicity-error (#49)
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

fix: data template updation fields not loading in content type
  lib/wraft_doc/document/document.ex
Due: mix-format, mix-compile, mix-credo

fix: replace content_type_id constraint to data_template_id
  lib/wraft_doc/document/pipe_stage.ex
Due: mix-format, mix-compile, mix-credo

fix: move the wraft_file to priv folder
  priv/wraft_files/Roboto/LICENSE.txt
  priv/wraft_files/Roboto/Roboto-Bold.ttf
  priv/wraft_files/Roboto/Roboto-BoldItalic.ttf
  priv/wraft_files/Roboto/Roboto-Italic.ttf
  priv/wraft_files/Roboto/Roboto-Regular.ttf
  priv/wraft_files/letterhead.pdf
Due: none

fix: move the wraft_file to priv folder (#50)
  priv/wraft_files/Roboto/LICENSE.txt
  priv/wraft_files/Roboto/Roboto-Bold.ttf
  priv/wraft_files/Roboto/Roboto-BoldItalic.ttf
  priv/wraft_files/Roboto/Roboto-Italic.ttf
  priv/wraft_files/Roboto/Roboto-Regular.ttf
  priv/wraft_files/letterhead.pdf
Due: none

[WD-874] Improved error handling for mapping not found case in form entry creation flow (#51)
  lib/wraft_doc/forms.ex
Due: mix-format, mix-compile, mix-credo

fix: add improved error logging for pipeline trigger
  lib/wraft_doc/workers/bulk_worker.ex
Due: mix-format, mix-compile, mix-credo

bugfix/WD-876-replace-structure-of-the-data-in-pipeline-error-log-on-data-already-in-production (#53)
  lib/wraft_doc/document/pipeline.ex
  lib/wraft_doc/workers/bulk_worker.ex
  priv/repo/data/migrations/trigger_history_error_log_restructuring.exs
Due: mix-format, mix-compile, mix-credo

bugfix/WD-876-replace-structure-of-the-data-in-pipeline-error-log-on-data-already-in-production (#54)
  .envrc
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/admin/organisation_admin.ex
  lib/wraft_doc_web/admin/user_admin.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  priv/repo/data/migrations/trigger_history_error_log_restructuring.exs
  priv/repo/migrations/20240626160017_add_signed_in_timestamp.exs
Due: mix-format, mix-compile, mix-credo

fix: verification email send on admin resend email verify resource action
  lib/wraft_doc_web/admin/user_admin.ex
Due: mix-format, mix-compile, mix-credo
