Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

fix: :bug: Added missing profile preloading
  lib/wraft_doc/user/account.ex
Due: mix-format, mix-compile, mix-credo

fix: debug organisation create api
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

fix: add some debug for org create api
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

fix: organisation creation api
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

[WD-626] add members count for the organisation wraft-docs/wraft-docs-api!154
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/organisation/organisation.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/views/organisation_view.ex
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-596] filtering and sorting orgnisation members api based on role name and join date wraft-docs/wraft-docs-api!155
  .envrc
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
  lib/wraft_doc_web/views/user_view.ex
Due: mix-format, mix-compile, mix-credo

[WD-642] updated the instance create function to accomodate db transaction wraft-docs/wraft-docs-api!156
  lib/wraft_doc/document/document.ex
Due: mix-format, mix-compile, mix-credo

[WD-643] update raw field in version table from string to text type wraft-docs/wraft-docs-api!157
  priv/repo/migrations/20231109234601_update_raw_field_to_text_type_in_version_table.exs
Due: mix-format, mix-credo

[WD-670] updated delete_organisation function to not delete personal organisation wraft-docs/wraft-docs-api!158
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
Due: mix-format, mix-compile, mix-credo

docs(readme): :memo: Improve table of contents and provide setup instructions for commit hooks and direnv integration
  README.md
Due: none

[WD-693] Moved AuthTokens from `Account` context to `AuthTokens` context wraft-docs/wraft-docs-api!161
  lib/wraft_doc/auth_tokens.ex
  lib/wraft_doc/auth_tokens/auth_token.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/registration_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  test/support/factory.ex
  test/wraft_doc/auth_tokens/auth_token_test.exs
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

docs(readme): :memo: Reodered the direnv and commit hooks in pre-requisites.
  README.md
Due: none

[WD-691] Content Type View Response Update wraft-docs/wraft-docs-api!162
  lib/wraft_doc/document/document.ex
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/views/content_type_view.ex
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-653] Delete workspace needs a delete code to be send to email wraft-docs/wraft-docs-api!160
  lib/wraft_doc/auth_tokens.ex
  lib/wraft_doc/auth_tokens/auth_token.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/router.ex
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/workers/email_worker_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
