Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

refactor: update feature flag setup for organizations to handle self-hosted deployments
  priv/repo/migrations/20250613114205_setup_feature_flags_for_existing_organizations.exs
Due: mix-format, mix-credo

chore: update docker-compose.yml to use Dockerfile instead of Dockerfile.dev
  docker-compose.yml
Due: none

refactor: streamline layout seeding process by removing layout asset insertion
  lib/wraft_doc/seed.ex
Due: mix-format, mix-compile, mix-credo

feat: enhance Makefile with OS detection, improved dependency checks, and installation instructions for Ubuntu, macOS, and Windows
  Makefile
Due: none

chore: update .env.example with new CLOAK_KEY and database names
  .env.example
Due: none

feat: improve seeding and dashboard stats refresh
  lib/wraft_doc/seed.ex
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  priv/repo/seeds.exs
  priv/static/images/gradient.jpg
  priv/wraft_files/templates/offer_letter.json
Due: mix-format, mix-compile, mix-credo

refactor: enhance Typesense initialization error handling and logging
  lib/wraft_doc/search/typesense_server.ex
Due: mix-format, mix-compile, mix-credo

chore: update ex_typesense dependency to version 0.7
  mix.exs
Due: mix-format, mix-credo

feat: add wraft.check_deps task to verify PostgreSQL and MinIO availability during setup
  lib/mix/tasks/wraft.check_deps.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

docs: add link to official Typesense installation documentation in README
  README.md
Due: none

refactor: update organisation seeding with fixed values and clear existing data
  lib/wraft_doc/seed.ex
  priv/repo/seeds.exs
Due: mix-format, mix-compile, mix-credo

chore: refactor database configuration to use DATABASE_URL and clean up environment variables
  .env.example
  .envrc
  config/dev.exs
  docker-compose.yml
  entrypoint_dev.sh
Due: mix-format, mix-credo

chore: update seeding profile pic image
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/seed.ex
  mix.exs
  priv/static/images/gradient.jpg
  priv/static/images/gradient.png
Due: mix-format, mix-compile, mix-credo

chore: update default password in README and seeding process
  README.md
  lib/wraft_doc/seed.ex
Due: mix-format, mix-compile, mix-credo

feat: add wraft.bucket task to create default storage bucket and update mix aliases
  lib/mix/tasks/wraft.bucket.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

chore: update .env.example and docker-compose.yml for Resend email service integration
  .env.example
  docker-compose.yml
Due: none

docs: update README with new prerequisites, Typesense integration, and Docker setup details
  README.md
Due: none

chore: add .gitattributes file to enforce Unix line endings for shell scripts
  .gitattributes
Due: none

fix: normalize .sh files to LF line endings
  .gitattributes
Due: none

fix: ensure consistent line endings in shell scripts
  scripts/clean.sh
  scripts/k3d_register.sh
  scripts/run.sh
Due: none

fix: normalize line endings in shell scripts
  entrypoint.sh
  entrypoint_dev.sh
  rel/commands/createdb.sh
  rel/commands/migrate.sh
  rel/overlays/seeds.sh
  scripts/all.sh
  scripts/build-dev.sh
  scripts/build.sh
  scripts/db-start.sh
  scripts/devtron/install-check.sh
  scripts/devtron/install.sh
  scripts/devtron/uninstall.sh
  scripts/network.sh
  scripts/start.sh
Due: none

fix: normalize .sh files to LF line endings
  priv/wraft_files/Roboto/LICENSE.txt
Due: none

chore: update environment configuration and Docker setup for improved dependency management and keystore handling
  .env.example
  Dockerfile.dev
  config/runtime.exs
  docker-compose.yml
  entrypoint_dev.sh
  mix.lock
Due: mix-format, mix-credo

fix: instance delete error
  lib/wraft_doc_web/controllers/instance_controller.ex
Due: mix-format, mix-compile, mix-credo

feat: add document logs
  lib/wraft_doc/documents/action_log.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/plug/document_logging.ex
  priv/repo/migrations/20250812043706_create_document_audit_log_table.exs
Due: mix-format, mix-compile, mix-credo

chore: update database configuration in Docker setup and entrypoint script to use new environment variables for development
  .env.example
  README.md
  docker-compose.yml
  entrypoint_dev.sh
Due: none

chore: update .env.example and entrypoint script to reflect new DATABASE_URL format and remove deprecated environment variables
  .env.example
  docker-compose.yml
  entrypoint_dev.sh
Due: none

docs: update README to reflect changes in Docker setup, including Docker Compose instructions and environment variable loading
  README.md
Due: none

fix: resolve docker build issues and improve development environment (#123)
  .env.example
  .gitattributes
  Dockerfile.dev
  README.md
  config/runtime.exs
  docker-compose.yml
  entrypoint.sh
  entrypoint_dev.sh
  mix.lock
  priv/wraft_files/Roboto/LICENSE.txt
  rel/commands/createdb.sh
  rel/commands/migrate.sh
  rel/overlays/seeds.sh
  scripts/all.sh
  scripts/build-dev.sh
  scripts/build.sh
  scripts/clean.sh
  scripts/db-start.sh
  scripts/devtron/install-check.sh
  scripts/devtron/install.sh
  scripts/devtron/uninstall.sh
  scripts/k3d_register.sh
  scripts/network.sh
  scripts/run.sh
  scripts/start.sh
Due: mix-format, mix-credo

chore: update docker-compose.yml to add environment variables for frontend service
  docker-compose.yml
Due: none

refactor: streamline configuration for digital signatures and improve error handling
  config/config.exs
  config/prod.exs
  config/runtime.exs
  lib/wraft_doc/documents/signatures.ex
  lib/wraft_doc/notifications/delivery.ex
  lib/wraft_doc/notifications/notifications.ex
  lib/wraft_doc_web/views/user_view.ex
Due: mix-format, mix-compile, mix-credo

chore: update docker-compose.yml to modify environment variables for frontend and database services
  docker-compose.yml
Due: none

fix: compile-time vs runtime config mismatch for doc_signer.p12 (#128)
  config/config.exs
  config/prod.exs
  config/runtime.exs
  docker-compose.yml
  lib/wraft_doc/documents/signatures.ex
  lib/wraft_doc/notifications/delivery.ex
  lib/wraft_doc/notifications/notifications.ex
  lib/wraft_doc_web/views/user_view.ex
Due: mix-format, mix-compile, mix-credo

feat: added docusign and documenso as integrations
  lib/wraft_doc/integrations/documenso.ex
  lib/wraft_doc/integrations/docusign.ex
  lib/wraft_doc/integrations/integration_config.ex
  lib/wraft_doc/integrations/integrations.ex
  lib/wraft_doc_web/controllers/document_sign_controller.ex
  lib/wraft_doc_web/controllers/integration_auth_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/document_sign_view.ex
Due: mix-format, mix-compile, mix-credo

feat: add revoke, re-invite
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
Due: mix-format, mix-compile, mix-credo

feat: list organisation invite users
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
Due: mix-format, mix-compile, mix-credo

feat: add roles to invited users, improved resend invite
  lib/wraft_doc/invited_users/invited_user.ex
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/views/organisation_view.ex
  priv/repo/migrations/20250804192238_create_invite_users_roles_table.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
