Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-test
        name: Run test suite
        entry: zsh -c 'source .env' && mix test
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-format
        name: Format Elixir files
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

added docker files
  Dockerfile
  docker-compose.yml
  entrypoint.sh
Due: none

added .dockerignore file, texlive-full
  .dockerignore
  Dockerfile
  docker-compose.yml
  lib/wraft_doc/document/document.ex
  priv/repo/seeds.exs
Due: mix-test, mix-format, mix-compile, mix-credo

fixed typescale encoding error
  lib/wraft_doc/document/document.ex
Due: mix-test, mix-format, mix-compile, mix-credo

rebased from dockerr branch
  .dockerignore
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-credo

refactore, grouped same functions
  lib/wraft_doc/document/document.ex
Due: mix-test, mix-format, mix-compile, mix-credo

docker image size brought down from 8.5GB to 2.23GB
  Dockerfile
Due: none

docker copy files changed
  Dockerfile
Due: none

environment variables shifted to .env
  docker-compose.yml
Due: none
