Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

fix: asset controller open api spex
  lib/wraft_doc_web/controllers/asset_controller.ex
Due: mix-format, mix-compile, mix-credo

chore: update Rust dependencies in pdf_analyzer and add Rust build artifacts to .dockerignore (#183)
  .dockerignore
  Dockerfile
  Dockerfile.dev
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/pdf_analyzer.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
  mix.exs
  native/pdf_analyzer/Cargo.lock
  native/pdf_analyzer/Cargo.toml
  native/pdf_analyzer/src/lib.rs
Due: mix-format, mix-compile, mix-credo

feat: use existing smart table meta for incoming smart table (#184)
  lib/wraft_doc/token_engine/handlers/smart_table.ex
Due: mix-format, mix-compile, mix-credo

fix: body color and primary color in latex templates (#159)
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/token_engine.ex
  priv/slugs/contract/default.typst
  priv/slugs/contract/template.tex
  priv/slugs/pletter/default.typst
  priv/slugs/pletter/template.tex
Due: mix-format, mix-compile, mix-credo

feat: add cover pdf in contract templates
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/layouts/layout.ex
  lib/wraft_doc/layouts/layouts.ex
  lib/wraft_doc_web/views/layout_view.ex
  priv/repo/migrations/20260123035813_update_layout_table_add_cover.exs
  priv/slugs/contract/default.typst
  priv/slugs/contract/template.aux
  priv/slugs/contract/template.log
  priv/slugs/contract/template.tex
Due: mix-format, mix-compile, mix-credo

🧹 chore: remove one-time migration scripts
  priv/repo/data/migrations/add_default_ordering_for_form_fields.exs
  priv/repo/data/migrations/add_default_wraft_flow_for_existing_organisations.exs
  priv/repo/data/migrations/allowed_users_correction_for_instance.exs
  priv/repo/data/migrations/fix_state_order_duplicity.exs
  priv/repo/data/migrations/link_form_and_pipeline_if_it_doesnt_exist.exs
  priv/repo/data/migrations/migrate_content_type_fields.exs
  priv/repo/data/migrations/set_default_last_org_id_to_personal.exs
  priv/repo/data/migrations/trigger_history_error_log_restructuring.exs
  priv/repo/data/migrations/updated_permissions.exs
  priv/repo/data/minio/backup_data.exs
  priv/repo/data/minio/delete_bucket.exs
  priv/repo/data/minio/revamp_file_structure.exs
  priv/repo/data/minio/update_slugs.exs
Due: mix-format, mix-credo

feat: add user deletion code and email
  lib/wraft_doc/auth_tokens/auth_token.ex
  lib/wraft_doc/auth_tokens/auth_tokens.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/mjml/templates/user_delete_code.mjml.eex
  lib/wraft_doc_web/mjml/user_delete_code.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/schemas/user.ex
  lib/wraft_doc_web/views/user_view.ex
Due: mix-format, mix-compile, mix-credo

fix: breaking complex cell merge
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
Due: mix-format, mix-compile, mix-credo

fix: 3 digit hex color code fail the build
  lib/wraft_doc/themes/themes.ex
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

fix: 3 digit hex color code fail the build (#186)
  lib/wraft_doc/themes/themes.ex
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

chore: update dependencies in pdf_analyzer to latest versions
  native/pdf_analyzer/Cargo.lock
  native/pdf_analyzer/Cargo.toml
Due: none

chore: update dependencies in pdf_analyzer to latest versions (#187)
  native/pdf_analyzer/Cargo.lock
  native/pdf_analyzer/Cargo.toml
Due: none

feat: implement admin webhooks functionality with logging and event triggers
  lib/wraft_doc/admin_webhooks/admin_event_trigger.ex
  lib/wraft_doc/admin_webhooks/admin_webhook.ex
  lib/wraft_doc/admin_webhooks/admin_webhook_log.ex
  lib/wraft_doc/admin_webhooks/admin_webhooks.ex
  lib/wraft_doc/kaffy.ex
  lib/wraft_doc/workers/admin_webhook_worker.ex
  lib/wraft_doc_web/admin/admin_webhook_admin.ex
  lib/wraft_doc_web/admin/organisation_admin.ex
  lib/wraft_doc_web/admin/user_admin.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  priv/repo/migrations/20260515061103_create_admin_webhooks.exs
  priv/repo/migrations/20260515061104_create_admin_webhook_logs.exs
  test/support/factory.ex
  test/wraft_doc/admin_webhooks/admin_webhook_test.exs
  test/wraft_doc/admin_webhooks/admin_webhooks_test.exs
  test/wraft_doc/workers/admin_webhook_worker_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add confirmation email sent event for waiting list
  lib/wraft_doc/admin_webhooks/admin_event_trigger.ex
  lib/wraft_doc/admin_webhooks/admin_webhook.ex
  lib/wraft_doc/workers/admin_webhook_worker.ex
  lib/wraft_doc/workers/webhook_worker.ex
  lib/wraft_doc_web/admin/admin_webhook_admin.ex
  lib/wraft_doc_web/controllers/waiting_list_controller.ex
  test/support/factory.ex
  test/wraft_doc/admin_webhooks/admin_webhook_test.exs
  test/wraft_doc/workers/admin_webhook_worker_test.exs
  test/wraft_doc/workers/webhook_worker_test.exs
  test/wraft_doc_web/controllers/waiting_list_controller_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add recent logins feature to admin dashboard
  lib/wraft_doc/admin/metrics.ex
  lib/wraft_doc_web/admin_next/home_live.ex
Due: mix-format, mix-compile, mix-credo

feat: implement feature flag management in admin panel
  lib/wraft_doc/feature_flags/feature_flags.ex
  lib/wraft_doc_web/admin_next/feature_flag_live.ex
  lib/wraft_doc_web/admin_next/layouts/app.html.heex
  lib/wraft_doc_web/controllers/feature_flag_controller.ex
  lib/wraft_doc_web/router.ex
  mix.exs
  mix.lock
  test/wraft_doc_web/admin_next/feature_flag_live_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add audit logs functionality to admin panel
  lib/wraft_doc/admin/audit_logs.ex
  lib/wraft_doc_web/admin_next/audit_log_live.ex
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/admin_next/layouts/app.html.heex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

feat: enhance audit logs functionality in admin panel
  lib/wraft_doc/admin/audit_logs.ex
  lib/wraft_doc/admin/audit_logs/diff.ex
  lib/wraft_doc/admin/metrics.ex
  lib/wraft_doc_web/admin_next/audit_log_live.ex
  lib/wraft_doc_web/admin_next/feature_flag_live.ex
  lib/wraft_doc_web/admin_next/live/admin_webhook_live.ex
  lib/wraft_doc_web/admin_next/live/coupon_live.ex
  lib/wraft_doc_web/admin_next/live/frame_import_live.ex
  lib/wraft_doc_web/admin_next/live/frame_live.ex
  lib/wraft_doc_web/admin_next/live/organisation_live.ex
  lib/wraft_doc_web/admin_next/live/plan_live.ex
  lib/wraft_doc_web/admin_next/live/template_asset_import_live.ex
  lib/wraft_doc_web/admin_next/live/user_live.ex
  lib/wraft_doc_web/admin_next/live/waiting_list_live.ex
  lib/wraft_doc_web/admin_next/live_resource_page.ex
  priv/repo/migrations/20260520185405_add_ex_audit_version_indexes.exs
  test/wraft_doc_web/admin_next/audit_log_live_test.exs
  test/wraft_doc_web/admin_next/feature_flag_live_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add detailed view for audit logs in admin panel
  lib/wraft_doc_web/admin_next/audit_log_live.ex
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

feat: implement queue monitoring functionality in admin panel
  lib/wraft_doc/admin/queue_monitoring.ex
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/admin_next/layouts/app.html.heex
  lib/wraft_doc_web/admin_next/queue_monitoring_live.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

refactor: simplify dependency fetching in Dockerfile
  Dockerfile
Due: none

feat: enhance boolean field rendering in admin panel
  lib/wraft_doc_web/admin_next/live/admin_webhook_live.ex
  lib/wraft_doc_web/admin_next/live/enterprise_plan_live.ex
  lib/wraft_doc_web/admin_next/live/internal_user_live.ex
  lib/wraft_doc_web/admin_next/live/plan_live.ex
Due: mix-format, mix-compile, mix-credo

feat: add daily activity tracking for audit logs in admin panel
  lib/wraft_doc/admin/audit_logs.ex
  lib/wraft_doc/admin/queue_monitoring.ex
  lib/wraft_doc_web/admin_next/audit_log_live.ex
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/admin_next/live/field_type_live.ex
  lib/wraft_doc_web/admin_next/live/user_live.ex
  lib/wraft_doc_web/admin_next/live/waiting_list_live.ex
  lib/wraft_doc_web/admin_next/queue_monitoring_live.ex
Due: mix-format, mix-compile, mix-credo

feat: add SVG favicon support and update layout
  lib/wraft_doc_web/admin_next/layouts/root.html.heex
  lib/wraft_doc_web/endpoint.ex
  priv/static/favicon.ico
  priv/static/favicon.svg
Due: mix-format, mix-compile, mix-credo

refactor: update layout structure for improved navigation
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/admin_next/layouts/app.html.heex
Due: mix-format, mix-compile, mix-credo

feat: implement dynamic features management in Plan admin form
  assets/js/admin.js
  lib/wraft_doc/organisation/plan.ex
  lib/wraft_doc_web/admin_next/live/plan_live.ex
Due: mix-format, mix-compile, mix-credo

feat: enhance Enterprise Plan admin form with structured panels and normalization
  lib/wraft_doc_web/admin_next/live/enterprise_plan_live.ex
Due: mix-format, mix-compile, mix-credo

feat: add subscription management features to admin panel
  lib/wraft_doc/admin/metrics.ex
  lib/wraft_doc_web/admin_next/home_live.ex
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/admin_next/layouts/app.html.heex
  lib/wraft_doc_web/admin_next/subscription_live.ex
  lib/wraft_doc_web/admin_next/ui/tokens.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

feat: introduce Build and Pipeline Metrics modules for admin panel
  lib/wraft_doc/admin/build_metrics.ex
  lib/wraft_doc/admin/metric_range.ex
  lib/wraft_doc/admin/pipeline_metrics.ex
  lib/wraft_doc/documents/build_history.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc_web/admin_next/build_metrics_live.ex
  lib/wraft_doc_web/admin_next/layouts.ex
  lib/wraft_doc_web/admin_next/layouts/app.html.heex
  lib/wraft_doc_web/admin_next/pipeline_metrics_live.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/router.ex
  priv/repo/migrations/20260521000000_add_error_log_to_build_history.exs
  priv/repo/migrations/20260521120000_add_metrics_indexes.exs
  test/wraft_doc/admin/metric_range_test.exs
Due: mix-format, mix-compile, mix-credo

refactor: improve page header layout in admin panel
  lib/wraft_doc_web/admin_next/ui.ex
Due: mix-format, mix-compile, mix-credo

feat: enhance Dockerfile for asset management and Node.js support
  Dockerfile.dev
  mix.exs
Due: mix-format, mix-credo

feat: update mix.exs to enhance asset management setup
  mix.exs
Due: mix-format, mix-credo

fix: reorder mix commands in entrypoint_dev.sh for correct execution flow
  entrypoint_dev.sh
Due: none

refactor: streamline mix.exs aliases for improved setup process
  mix.exs
Due: mix-format, mix-credo

feat: profile picture thumbnails and full-startup backfill
  lib/mix/tasks/wraft.backfill_thumbnails.ex
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc/release.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/schemas/organisation.ex
  lib/wraft_doc_web/schemas/profile.ex
  lib/wraft_doc_web/schemas/user.ex
  lib/wraft_doc_web/uploaders/logo_uploader.ex
  lib/wraft_doc_web/uploaders/propic_uploader.ex
  lib/wraft_doc_web/uploaders/thumbnail.ex
  lib/wraft_doc_web/views/instance_view.ex
  lib/wraft_doc_web/views/organisation_view.ex
  lib/wraft_doc_web/views/profile_view.ex
  lib/wraft_doc_web/views/user_view.ex
  test/wraft_doc/user/account_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/profile_controller_test.exs
Due: mix-format, mix-compile, mix-credo

feat(admin-auth): harden InternalUser session security
  config/prod.exs
  lib/wraft_doc/application.ex
  lib/wraft_doc/internal_users/internal_user.ex
  lib/wraft_doc/internal_users/internal_users.ex
  lib/wraft_doc/rate_limiter.ex
  lib/wraft_doc_web/admin_next/admin_auth.ex
  lib/wraft_doc_web/controllers/session_controller.ex
  lib/wraft_doc_web/endpoint.ex
  lib/wraft_doc_web/plug/current_admin.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20260610000917_add_internal_user_session_fields.exs
  test/wraft_doc/internal_users/internal_user_test.exs
  test/wraft_doc_web/admin_next/audit_log_live_test.exs
  test/wraft_doc_web/admin_next/feature_flag_live_test.exs
  test/wraft_doc_web/controllers/session_controller_test.exs
  test/wraft_doc_web/plug/current_admin_test.exs
Due: mix-format, mix-compile, mix-credo

fix: route Ollama through the OpenAI-compatible provider
  lib/wraft_doc/ai_agents/ai_agents.ex
  lib/wraft_doc/ai_agents/model_spec.ex
  lib/wraft_doc_web/controllers/model_controller.ex
  test/wraft_doc/ai_agents/model_spec_test.exs
  test/wraft_doc/ai_agents/response_model_test.exs
Due: mix-format, mix-compile, mix-credo

fix(waiting-list): accept Ecto.Changeset in changeset/2 for Backpex
  lib/wraft_doc/waiting_lists/waiting_list.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
