Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

refactor(wraft/templates): created_template_export, credo formatted
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

refactor(wraft/template-asset): simplified the code base for template export
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/fallback_controller.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

fix(wraft/template-asset): fixed the issue with create_wraft funtion
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

chore(wraft/template-asset): simplified funtion and remove unwanted files
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

fix(wraft/template-asset): fixed the error handling
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/fallback_controller.ex
Due: mix-format, mix-compile, mix-credo

add(wraft/template): add rbac
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix(wraft/template-asset): fixed all the some conflicts and credo
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

refactor(wraft/template-asset): refactor template_assets(export)
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

feat: change the file naming for generated document
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/logic_pipeline/pipeline_runner.ex
  lib/wraft_doc_web/controllers/instance_approval_system_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/email/email.ex
  priv/repo/data/content.json
Due: mix-format, mix-compile, mix-credo

fix: fix the file moving to history incorrectness
  lib/wraft_doc/document/document.ex
Due: mix-format, mix-compile, mix-credo

fix: match versioning with the version no in instance version table
  lib/wraft_doc/document/document.ex
Due: mix-format, mix-compile, mix-credo

fix: minor fix
  .gitignore
Due: none

Feature/create template asset export (#10)
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

Add author and title into meta tags of the generated document (#6)
  .gitignore
Due: none

fix: fix the alignment issue if aliases in template asset controller
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

File name correction in generated document pdf (#9)
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/logic_pipeline/pipeline_runner.ex
  lib/wraft_doc_web/controllers/instance_approval_system_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/email/email.ex
  priv/repo/data/content.json
Due: mix-format, mix-compile, mix-credo

feat: add default content type and templates for personal organisation while user registration
  lib/wraft_doc/user/account.ex
Due: mix-format, mix-compile, mix-credo

feat: add default content type and templates while creating new organisation
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
Due: mix-format, mix-compile, mix-credo

fix: remove redudant permissions from permissions.csv list
  priv/repo/data/rbac/permissions.csv
Due: none

fix: remove redudant dir organisation from gitignore
  .gitignore
Due: none

feat: add another data_template and content type and layout as default
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

feat: add json file for default templates, remove template data from default worker module
  config/config.exs
  lib/wraft_doc/workers/default_worker.ex
  priv/wraft_files/templates/nda.json
  priv/wraft_files/templates/offer_letter.json
Due: mix-format, mix-compile, mix-credo

chore: update offer letter serialized json
  priv/wraft_files/templates/offer_letter.json
Due: none

feat: add get_field_type_by_name/1
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

chore: get_field_type_by_name/1
  lib/wraft_doc/document/document.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor create_wraft_variant/5, fix spec of get_field_type_by_name/1
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/workers/default_worker.ex
Due: mix-format, mix-compile, mix-credo

fix: registration controller test
  config/test.exs
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

fix: cast with options in ecto_type/validation_type_test
  test/wraft_doc/ecto_type/validation_type_test.exs
Due: mix-format, mix-credo

fix: authorization list resource test
  test/wraft_doc/authorization_test.exs
Due: mix-format, mix-credo

fix: account test, add last signed org id in user_with_personal_organisation_factory
  test/support/factory.ex
  test/wraft_doc/user/account_test.exs
Due: mix-format, mix-compile, mix-credo

fix: waiting list test, add secret_key_base in test config
  config/test.exs
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/waiting_lists/waiting_lists_test.exs
Due: mix-format, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
