Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

Update README.md (#2)
  README.md
Due: none

chore: update README.md
  README.md
Due: none

README.md (#3)
  README.md
Due: none

fix: elixir version in gitlab ci
  .gitlab-ci.yml
Due: none

fix: elixir version in gitlab ci (#4)
  .gitlab-ci.yml
Due: none

chore: misc update
  .env
  .tool-versions
  CONTRIBUTING.md
  config/runtime.exs
  mix.lock
Due: mix-format, mix-credo

chore: update env example file
  .env.example
Due: none

feat: add template-asset and related files
  config/test.exs
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc/template_assets/template_asset.ex
  lib/wraft_doc/template_assets/wraft_json.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/uploaders/template_asset_uploader.ex
  lib/wraft_doc_web/views/template_asset_view.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20240902063339_add_wraft_json_to_template_asset.exs
Due: mix-format, mix-compile, mix-credo

fix: add last_signed_in_org in seeds for user table and minor docs update
  CONTRIBUTING.md
  README.md
  config/dev.exs
  priv/repo/seed.ex
Due: mix-format, mix-compile, mix-credo

docs: update the contributing guide
  CONTRIBUTING.md
Due: none

fix: docker
  .env.example
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
  entrypoint_dev.sh
Due: none

chore: misc update
  .env
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: misc update
  .env.example
  .envrc
  CONTRIBUTING.md
  Makefile
  README.md
  docker-compose.yml
Due: none

fix: add default role as superadmin as well as last_signed update for all organisation in seeds and minor format fixes
  config/test.exs
  lib/wraft_doc/document/content_type_field.ex
  lib/wraft_doc/document/field_type.ex
  lib/wraft_doc_web/controllers/membership_controller.ex
  lib/wraft_doc_web/controllers/pipe_stage_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  lib/wraft_doc_web/views/block_template_view.ex
  lib/wraft_doc_web/views/instance_approval_system_view.ex
  lib/wraft_doc_web/views/template_asset_view.ex
  priv/repo/migrations/20200507065745_create_pipeline_table.exs
  priv/repo/migrations/20220405094519_create_ex_audit_version_table.exs
  priv/repo/migrations/20240607040148_add_unique_index_between_pipe_stage_and_data_template.exs
  priv/repo/seed.ex
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

feat: update listing files
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

Feature/improvement v3 (#5)
  .env.example
  .envrc
  .gitignore
  .tool-versions
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.dev
  Makefile
  README.md
  config/dev.exs
  config/runtime.exs
  config/test.exs
  docker-compose.yml
  entrypoint_dev.sh
  lib/wraft_doc/document/content_type_field.ex
  lib/wraft_doc/document/field_type.ex
  lib/wraft_doc_web/controllers/membership_controller.ex
  lib/wraft_doc_web/controllers/pipe_stage_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  lib/wraft_doc_web/views/block_template_view.ex
  lib/wraft_doc_web/views/instance_approval_system_view.ex
  lib/wraft_doc_web/views/template_asset_view.ex
  mix.lock
  priv/repo/migrations/20200507065745_create_pipeline_table.exs
  priv/repo/migrations/20220405094519_create_ex_audit_version_table.exs
  priv/repo/migrations/20240607040148_add_unique_index_between_pipe_stage_and_data_template.exs
  priv/repo/seed.ex
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

chore(release): bump version to 0.4.2
  mix.exs
Due: mix-format, mix-credo

chore: removed downloading zip multiple time and unwanted error handling
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc/template_assets/template_asset.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

chore: remove unwanted error handling and removed function filter_entries/1
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

feat: add contains required files and folder validation
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/uploaders/template_asset_uploader.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor flow in enterprise, remove function for prepare_flow
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-compile, mix-credo

chore: refactor flow in enterprise, remove prepare_flow/2
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-compile, mix-credo

chore: refactor get_theme_font_file_entries/1 in template_assets.ex to validate only allowed font type are passed
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor template_asset_file_list/1 removed helper functions
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

chore: remove unwanted lines of codes and comments in wraft_json
  lib/wraft_doc/template_assets/wraft_json.ex
Due: mix-format, mix-compile, mix-credo

chore: update extract_and_prepare_layout_asset in layout
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

bugfix/wra-288-fix-edge-cases-on-attempting-to-unassign-a-role-of-a-user (#84)
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/role_controller.ex
  lib/wraft_doc_web/views/role_view.ex
Due: mix-format, mix-compile, mix-credo

feat: add pdf meta data author and title for generated document for layout and pletter case
  .gitignore
  priv/slugs/contract/template.tex
  priv/slugs/pletter/template.tex
Due: none

feat: add a script to update the changes made to slug files into s3 object storage system
  priv/repo/data/minio/update_slugs.exs
Due: mix-format, mix-credo

update envrc and gitignore, renamed .dev.env to .env.dev
  .envrc
  .gitignore
Due: none

chore: add RBAC for template_asset import, refactor template_zip_validator/2 and create controller action
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/uploaders/template_asset_uploader.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

chore: remove update_template_asset_json, refactor template asset create action
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc/template_assets/template_asset.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

chore: download_from_minio/2, add get_object/1 in minio client, rename get_wraft_json_map/
  lib/wraft_doc/client/minio.ex
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor prepare_layout helper function
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

chore: refactor get_object/1 of minio
  lib/wraft_doc/client/minio.ex
Due: mix-format, mix-compile, mix-credo

add .env.dev in gitignore
  .gitignore
Due: none

chore: refactor prepare data template helper functions
  lib/wraft_doc/template_assets.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
