Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-deps-get
        name: Check for mix.lock divergences
        always_run: true
        pass_filenames: false
        language: system
        entry: mix deps.get
      - id: mix-format
        name: Format Elixir files
        entry: mix format
        language: system
        files: \.exs*$
      - id: mix-compile
        name: Compile the codebase
        entry: mix compile --force --warnings-as-errors

        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-credo
        name: Check style with Credo
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

chore: add open api examples
  lib/wraft_doc/forms/forms.ex
  lib/wraft_doc_web/controllers/approval_system_controller.ex
  lib/wraft_doc_web/controllers/block_template_controller.ex
  lib/wraft_doc_web/controllers/comment_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/schemas/approval_system.ex
  lib/wraft_doc_web/schemas/billing.ex
  lib/wraft_doc_web/schemas/block_template.ex
  lib/wraft_doc_web/schemas/comment.ex
  lib/wraft_doc_web/schemas/content.ex
  lib/wraft_doc_web/schemas/coupon.ex
  lib/wraft_doc_web/schemas/user.ex
Due: mix-format, mix-compile, mix-credo

fix: password validation rules
  lib/wraft_doc/user/user.ex
Due: mix-format, mix-compile, mix-credo

feat: add test to cover password validation
  test/wraft_doc/user/user_test.exs
Due: mix-format, mix-credo

chore: add examples in api docs
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/controllers/content_type_role_controller.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/schemas/approval_system.ex
  lib/wraft_doc_web/schemas/content.ex
  lib/wraft_doc_web/schemas/content_type.ex
  lib/wraft_doc_web/schemas/content_type_role.ex
  lib/wraft_doc_web/schemas/data_template.ex
  lib/wraft_doc_web/schemas/engine.ex
  lib/wraft_doc_web/schemas/field_type.ex
  lib/wraft_doc_web/schemas/flow.ex
  lib/wraft_doc_web/schemas/form.ex
  lib/wraft_doc_web/schemas/form_mapping.ex
  lib/wraft_doc_web/schemas/frame.ex
  lib/wraft_doc_web/schemas/global_import.ex
  lib/wraft_doc_web/schemas/integration.ex
  lib/wraft_doc_web/schemas/integration_config.ex
  lib/wraft_doc_web/schemas/state.ex
Due: mix-format, mix-compile, mix-credo

fix: global import schema
  lib/wraft_doc_web/schemas/content.ex
  lib/wraft_doc_web/schemas/global_import.ex
Due: mix-format, mix-compile, mix-credo

feat: enhance document conversion and configuration
  config/runtime.exs
  lib/wraft_doc/doc_conversion.ex
  lib/wraft_doc_web/engine/funda.ex
Due: mix-format, mix-compile, mix-credo

refactor: update password validation rules and enhance password generation
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
Due: mix-format, mix-compile, mix-credo

fix(test): password validation tests
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  test/wraft_doc/user/account_test.exs
  test/wraft_doc/user/user_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-compile, mix-credo

fix: password validation rules (#181)
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/admin/waiting_list_admin.ex
  test/wraft_doc/user/account_test.exs
  test/wraft_doc/user/user_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-compile, mix-credo

chore: remove phoenix swagger deps and config
  config/config.exs
  lib/wraft_doc_web/api_spec.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

chore: rename api specs swagger ui
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

chore: remove Bureaucrat
  mix.exs
  mix.lock
  test/support/conn_case.ex
  test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

chore: remove phoenix swagger from instructions
  .credo.exs
  INSTALLATION.md
Due: mix-format, mix-credo

chore: misc update
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALLATION.md
  lib/wraft_doc_web/controllers/approval_system_controller.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
  lib/wraft_doc_web/controllers/collection_form_controller.ex
  lib/wraft_doc_web/controllers/collection_form_field_controller.ex
  lib/wraft_doc_web/controllers/content_type_role_controller.ex
  lib/wraft_doc_web/controllers/role_group_controller.ex
  lib/wraft_doc_web/schemas/approval_system.ex
  lib/wraft_doc_web/schemas/block_template.ex
  lib/wraft_doc_web/schemas/profile.ex
  lib/wraft_doc_web/schemas/state.ex
  lib/wraft_doc_web/schemas/user.ex
Due: mix-format, mix-compile, mix-credo

chore: update version dependency
  mix.lock
Due: none

fix: credo warnings
  lib/wraft_doc/documents/reminders.ex
  lib/wraft_doc/logic_pipeline/pipeline_runner.ex
  lib/wraft_doc/notifications/delivery.ex
  lib/wraft_doc/themes/themes.ex
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
  lib/wraft_doc/workers/bulk_worker.ex
  test/wraft_doc/document/content_type_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add bureaucrat
  mix.exs
  mix.lock
  test/support/conn_case.ex
  test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

test:coverage for auth ,account ,session controller ,authorized
  test/wraft_doc/auth_tokens/auth_token_test.exs
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/authorization_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc_web/controllers/profile_controller_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/session_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
  test/wraft_doc_web/plug/authorised_test.exs
Due: mix-format, mix-credo

fix: build fail with unreplaced title variables
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo

fix(auth): handle missing token error
  lib/wraft_doc_web/auth/auth_error_handler.ex
  lib/wraft_doc_web/auth/current_organisation.ex
  lib/wraft_doc_web/auth/current_user.ex
  test/wraft_doc_web/auth/current_organisation_test.exs
  test/wraft_doc_web/auth/current_user_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add query by name in instance approval indexing
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo

fix: safely handle nil document titles
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo

chore: update version to 0.6.5 and display it on the index page
  lib/wraft_doc_web/controllers/page_controller.ex
  lib/wraft_doc_web/templates/page/index.html.heex
  mix.exs
Due: mix-format, mix-compile, mix-credo

fix: build failed with unreplaced title variables (#182)
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc_web/auth/auth_error_handler.ex
  lib/wraft_doc_web/auth/current_organisation.ex
  lib/wraft_doc_web/auth/current_user.ex
  lib/wraft_doc_web/controllers/page_controller.ex
  lib/wraft_doc_web/templates/page/index.html.heex
  mix.exs
  test/wraft_doc_web/auth/current_organisation_test.exs
  test/wraft_doc_web/auth/current_user_test.exs
Due: mix-format, mix-compile, mix-credo

chore: update version to 0.6.6 in mix.exs
  mix.exs
Due: mix-format, mix-credo

chore: update Elixir and Erlang versions to 1.19.2 and 27.3.2 respectively
  .tool-versions
  Dockerfile
  Dockerfile.dev
  INSTALLATION.md
  Makefile
  config/prod.exs
  config/runtime.exs
  elixir_buildpack.config
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/page_controller.ex
  lib/wraft_doc_web/controllers/storage_asset_controller.ex
  lib/wraft_doc_web/controllers/storage_item_controller.ex
  lib/wraft_doc_web/controllers/storage_sync_job_controller.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-credo

chore(docker): downgrade Elixir and Erlang versions to 1.19.0 and 26.2.2, update Debian version to 20251117; enhance Typst installation for architecture support
  Dockerfile
  Dockerfile.dev
Due: none

chore(docker): update Elixir and Erlang versions to 1.19.2 and 27.1.2, and adjust Debian version to 20251020; update rustler dependency to version 0.37 in mix.exs
  Dockerfile
  Dockerfile.dev
  mix.exs
Due: mix-format, mix-credo

chore: update Rust dependencies in pdf_analyzer and add Rust build artifacts to .dockerignore
  .dockerignore
  lib/wraft_doc/pdf_analyzer.ex
  native/pdf_analyzer/Cargo.lock
  native/pdf_analyzer/Cargo.toml
  native/pdf_analyzer/src/lib.rs
Due: mix-format, mix-compile, mix-credo

fix: body color in typst templates
  priv/slugs/contract/default.typst
  priv/slugs/pletter/default.typst
Due: none

fix: use secondary color for headers in typst templates
  priv/slugs/contract/default.typst
  priv/slugs/contract/template.tex
  priv/slugs/pletter/default.typst
Due: none

feat: use instance_id in cover page
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/token_engine.ex
  priv/slugs/contract/template.tex
Due: mix-format, mix-compile, mix-credo

feat: use existing smart table meta for incoming smart table
  lib/wraft_doc/token_engine/handlers/smart_table.ex
Due: mix-format, mix-compile, mix-credo

fix: generating pdf from pipeline trigger
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo
