Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

feat: add margin to typst, latex templates
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/layouts/layout.ex
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
  priv/slugs/contract/default.typst
  priv/slugs/contract/template.tex
  priv/slugs/pletter/default.typst
  priv/slugs/pletter/template.tex
Due: mix-format, mix-compile, mix-credo

feat: seed margin to layout table
  priv/repo/migrations/20250723050853_add_margin_to_layout.exs
Due: mix-format, mix-credo

feat: revamp theme asset into font asset
  priv/repo/migrations/20250728183115_revamp_theme_assets_into_font.exs
Due: mix-format, mix-credo

feat: implement integration management system
  lib/wraft_doc/application.ex
  lib/wraft_doc/ecto_type/encrypted_binary_type.ex
  lib/wraft_doc/ecto_type/encrypted_map_type.ex
  lib/wraft_doc/integrations/integration.ex
  lib/wraft_doc/integrations/integration_config.ex
  lib/wraft_doc/integrations/integrations.ex
  lib/wraft_doc/utils/cloak_vault.ex
  lib/wraft_doc_web/controllers/integration_config_controller.ex
  lib/wraft_doc_web/controllers/integration_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/integration_config_view.ex
  lib/wraft_doc_web/views/integration_view.ex
  priv/repo/data/rbac/permissions.csv
  priv/repo/migrations/20250610000000_create_integrations.exs
Due: mix-format, mix-compile, mix-credo

feat: implement integration management system
  lib/wraft_doc/application.ex
  lib/wraft_doc/ecto_type/encrypted_binary_type.ex
  lib/wraft_doc/ecto_type/encrypted_map_type.ex
  lib/wraft_doc/integrations/integration.ex
  lib/wraft_doc/integrations/integration_config.ex
  lib/wraft_doc/integrations/integrations.ex
  lib/wraft_doc/utils/cloak_vault.ex
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
  lib/wraft_doc_web/controllers/integration_config_controller.ex
  lib/wraft_doc_web/controllers/integration_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/integration_config_view.ex
  lib/wraft_doc_web/views/integration_view.ex
  priv/repo/data/rbac/permissions.csv
  priv/repo/migrations/20250610000000_create_integrations.exs
Due: mix-format, mix-compile, mix-credo

fix: document delete
  lib/wraft_doc/documents/documents.ex
Due: mix-format, mix-compile, mix-credo

fix: organisation delete
  priv/repo/migrations/20250730142510_alter_notification_settings_table.exs
Due: mix-format, mix-credo

chore: update purge delete record schedule
  config/config.exs
Due: mix-format, mix-credo

fix: user personal organisation issue (#119)
  config/config.exs
  lib/wraft_doc/organisation/organisation.ex
  lib/wraft_doc/seed_personal_organisations.ex
  lib/wraft_doc/user/user_organisation.ex
  lib/wraft_doc/workers/scheduled_worker.ex
  lib/wraft_doc_web/admin/organisation_admin.ex
  priv/repo/migrations/20250723044103_seed_personal_organisation.exs
  priv/repo/migrations/20250723103212_update_organisation_add_modifier.exs
Due: mix-format, mix-compile, mix-credo

fix: organisation and document deletions (#118)
  lib/wraft_doc/documents/documents.ex
  priv/repo/migrations/20250730142510_alter_notification_settings_table.exs
Due: mix-format, mix-compile, mix-credo

fix: update changeset validation for user organisation
  lib/wraft_doc/user/user_organisation.ex
Due: mix-format, mix-compile, mix-credo

feat: add rollback script for WraftDoc release
  rel/commands/rollback.sh
Due: none

feat: add rollback sh to docker file
  Dockerfile
Due: none

feat: add custom error codes for missing document build resource
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/layouts/layouts.ex
  lib/wraft_doc/themes/themes.ex
Due: mix-format, mix-compile, mix-credo

chore: improve layout update
  lib/wraft_doc/layouts/layouts.ex
Due: mix-format, mix-compile, mix-credo

feat: list organisation invite users
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
Due: mix-format, mix-compile, mix-credo

feat: list organisation invite users
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
Due: mix-format, mix-compile, mix-credo

feat: add margin to layout (#116)
  Dockerfile
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/content_types/content_types.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/layouts/layout.ex
  lib/wraft_doc/layouts/layouts.ex
  lib/wraft_doc/themes/themes.ex
  lib/wraft_doc/utils/prosemirror_to_markdown.ex
  lib/wraft_doc_web/controllers/layout_controller.ex
  lib/wraft_doc_web/views/layout_view.ex
  priv/repo/migrations/20250723050853_add_margin_to_layout.exs
  priv/repo/migrations/20250724024058_update_layout_add_asset.exs
  priv/repo/migrations/20250724033334_revamp_layout_asset_entries_into_layout.exs
  priv/slugs/contract/default.typst
  priv/slugs/contract/template.tex
  priv/slugs/pletter/default.typst
  priv/slugs/pletter/template.tex
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

feat: add rbac
  lib/wraft_doc/themes/fonts.ex
  lib/wraft_doc_web/controllers/font_controller.ex
  lib/wraft_doc_web/plug/action_logging.ex
Due: mix-format, mix-compile, mix-credo

feat: add revoke, re-invite
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

feat: add revoke, re-invite
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/organisation_view.ex
Due: mix-format, mix-compile, mix-credo

feat: add roles to invited users, improved resend invite
  lib/wraft_doc/invited_users/invited_user.ex
  lib/wraft_doc/invited_users/invited_users.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/views/organisation_view.ex
  priv/repo/migrations/20250804192238_create_invite_users_roles_table.exs
Due: mix-format, mix-compile, mix-credo

chore: update .env.example with new CLOAK_KEY and database names
  .env.example
Due: none

chore: update ex_typesense dependency to version 0.7
  mix.exs
Due: mix-format, mix-credo

refactor: streamline layout seeding process by removing layout asset insertion
  lib/wraft_doc/seed.ex
Due: mix-format, mix-compile, mix-credo

refactor: enhance Typesense initialization error handling and logging
  lib/wraft_doc/search/typesense_server.ex
Due: mix-format, mix-compile, mix-credo

refactor: update feature flag setup for organizations to handle self-hosted deployments
  priv/repo/migrations/20250613114205_setup_feature_flags_for_existing_organizations.exs
Due: mix-format, mix-credo

refactor: update organisation seeding with fixed values and clear existing data
  lib/wraft_doc/seed.ex
  priv/repo/seeds.exs
Due: mix-format, mix-compile, mix-credo

chore: update default password in README and seeding process
  README.md
  lib/wraft_doc/seed.ex
Due: mix-format, mix-compile, mix-credo

chore: update .env.example and docker-compose.yml for Resend email service integration
  .env.example
  docker-compose.yml
Due: none

docs: update README with new prerequisites, Typesense integration, and Docker setup details
  README.md
Due: none

chore: update docker-compose.yml to use Dockerfile instead of Dockerfile.dev
  docker-compose.yml
Due: none

docs: add link to official Typesense installation documentation in README
  README.md
Due: none

feat: improve seeding and dashboard stats refresh
  lib/wraft_doc/seed.ex
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  priv/repo/seeds.exs
  priv/static/images/gradient.jpg
  priv/wraft_files/templates/offer_letter.json
Due: mix-format, mix-compile, mix-credo

feat: add wraft.bucket task to create default storage bucket and update mix aliases
  lib/mix/tasks/wraft.bucket.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

feat: add wraft.check_deps task to verify PostgreSQL and MinIO availability during setup
  lib/mix/tasks/wraft.check_deps.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

chore: refactor database configuration to use DATABASE_URL and clean up environment variables
  .env.example
  .envrc
  config/dev.exs
  docker-compose.yml
  entrypoint_dev.sh
Due: mix-format, mix-credo

feat: enhance Makefile with OS detection, improved dependency checks, and installation instructions for Ubuntu, macOS, and Windows
  Makefile
Due: none

chore: update seeding profile pic image
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/seed.ex
  mix.exs
  priv/static/images/gradient.jpg
  priv/static/images/gradient.png
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
