Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

fix: organisation enterprise tests, modified factory
  test/support/factory.ex
  test/wraft_doc/organisation/enterprise_test.exs
Due: mix-format, mix-compile, mix-credo

fix: 2 pipeline runner test
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
Due: mix-format, mix-credo

fix: form tests update factory
  test/support/factory.ex
  test/wraft_doc/forms/form_entry_test.exs
  test/wraft_doc/forms/form_field_test.exs
  test/wraft_doc/forms/form_mapping_test.exs
Due: mix-format, mix-compile, mix-credo

fix: fix few test in document and add #FIXME to test/wraft_doc
  test/support/factory.ex
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/document/asset_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
Due: mix-format, mix-compile, mix-credo

fix: document/pipestage
  test/wraft_doc/document/pipe_stage_test.exs
Due: mix-format, mix-credo

fix: add FIXME to failed tests in wraft_doc_web
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/data_template_controller_test.exs
  test/wraft_doc_web/controllers/flow_controller_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/permission_controller_test.exs
  test/wraft_doc_web/controllers/pipe_stage_controller_test.exs
  test/wraft_doc_web/controllers/pipeline_controller_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/role_controller_test.exs
  test/wraft_doc_web/controllers/state_controller_test.exs
  test/wraft_doc_web/controllers/theme_controller_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
  test/wraft_doc_web/plug/action_logging_test.exs
Due: mix-format, mix-credo

fix: theme controller test
  test/wraft_doc_web/controllers/theme_controller_test.exs
Due: mix-format, mix-credo

fix: fix pipe stages failure document test
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

fix: insstance controller test and a test in data template controller
  test/wraft_doc_web/controllers/data_template_controller_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
Due: mix-format, mix-credo

update envrc and gitignore, renamed .dev.env to .env.dev
  .gitignore
Due: none

fix: role controller test
  test/wraft_doc_web/controllers/role_controller_test.exs
Due: mix-format, mix-credo

fix: flow controller align states/2
  test/wraft_doc_web/controllers/flow_controller_test.exs
Due: mix-format, mix-credo

fix: permission controller test
  test/wraft_doc_web/controllers/permission_controller_test.exs
Due: mix-format, mix-credo

fix: action logging test
  test/wraft_doc_web/plug/action_logging_test.exs
Due: mix-format, mix-credo

fix: pipeline controller test
  lib/wraft_doc/document/document.ex
  test/wraft_doc_web/controllers/pipeline_controller_test.exs
Due: mix-format, mix-compile, mix-credo

fix: state controller test and update few FIXME tag
  test/wraft_doc_web/controllers/state_controller_test.exs
Due: mix-format, mix-credo

update FIXME tag
  test/wraft_doc/auth_tokens_test.exs
  test/wraft_doc/document/asset_test.exs
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/organisation_controller_test.exs
  test/wraft_doc_web/controllers/pipe_stage_controller_test.exs
  test/wraft_doc_web/controllers/state_controller_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-credo

fix: content type controller test and update few FIXME tag
  test/wraft_doc_web/controllers/content_type_controller_test.exs
Due: mix-format, mix-credo

fix: user controller test
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-credo

fix: organisation controller test
  test/wraft_doc_web/controllers/organisation_controller_test.exs
Due: mix-format, mix-credo

fix: test failed because of profile_pic in profile
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
  test/wraft_doc_web/controllers/content_type_controller_test.exs
  test/wraft_doc_web/controllers/state_controller_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-credo

fix: auth tokens test
  test/wraft_doc/auth_tokens_test.exs
Due: mix-format, mix-credo

fix: block template controller test and remove state id in pipe stage tests
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/controllers/block_template_controller_test.exs
Due: mix-format, mix-credo

fix: pipe stage controller test, remove state id in params
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/controllers/data_template_controller_test.exs
  test/wraft_doc_web/controllers/pipe_stage_controller_test.exs
Due: mix-format, mix-credo

fix: pipeline runner test and trigger history controller test
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc_web/controllers/trigger_history_controller_test.exs
Due: mix-format, mix-credo

feat: add new test for asset name formatting, add new pdf file to test helper and refactor name_formatting/1
  lib/wraft_doc/document/asset.ex
  test/helper/wraft invoice.pdf
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

fix: asset test and refactor format_naming/1 in asset schema module
  lib/wraft_doc/document/asset.ex
  test/wraft_doc/document/asset_test.exs
  test/wraft_doc/document/document_test.exs
Due: mix-format, mix-compile, mix-credo

fix: remove redudant permissions from permissions.csv list
  priv/repo/data/rbac/permissions.csv
Due: none

fix: email_test
  mix.exs
  mix.lock
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-credo

fix: remove redudant dir organisation from gitignore
  .gitignore
Due: none

fix: instance approval system controller test
  config/test.exs
  test/wraft_doc_web/controllers/instance_approval_system_controller_test.exs
Due: mix-format, mix-credo

fix: registration controller test
  config/test.exs
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
Due: mix-format, mix-compile, mix-credo

fix: role controller test, refactor unassgin role function and remove form entry unique constraint test
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/role_controller.ex
  test/wraft_doc/forms/form_entry_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
  test/wraft_doc_web/controllers/role_controller_test.exs
Due: mix-format, mix-compile, mix-credo

feat: pair of default wraft data templates and assets (#11)
  config/config.exs
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/workers/default_worker.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  priv/wraft_files/templates/nda.json
  priv/wraft_files/templates/offer_letter.json
Due: mix-format, mix-compile, mix-credo

chore(release): bump version to 0.4.3
  mix.exs
Due: mix-format, mix-credo

feat: add a base rate limit plug that handles unauthenticated and authenticated usecase as well as secondary rate limit for build and variant
  config/config.exs
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/plug/rate_limiter.ex
  lib/wraft_doc_web/router.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-credo

feat(wraft/billing): add limits to plan and update plan
  lib/wraft_doc/organisation/limits.ex
  lib/wraft_doc/organisation/plan.ex
  priv/repo/migrations/20241105123723_update_plans_table.exs
Due: mix-format, mix-compile, mix-credo

feat: add api to manage zip url, add wraft_json to response
  lib/wraft_doc/template_assets.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/views/template_asset_view.ex
Due: mix-format, mix-compile, mix-credo

feat: add meta field to content table and document type field in content type table
  lib/wraft_doc/document/content_type.ex
  lib/wraft_doc/document/instance.ex
  priv/repo/migrations/20241112101834_add_document_type_and_meta.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
