Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: Run test suite
  entry: zsh -c 'source .env' && mix test
  language: system
  pass_filenames: false

mix-format:
  name: Format Elixir files
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

layout_files_upload test added
  test/fixtures/example.png
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-credo

layout_files_upload test 2 test added
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

some comments removed
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

tests added engine_list, get_content_type_from_is
  lib/wraft_doc/document/document.ex
  lib/wraft_doc_web/admin/user_admin.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

[WD-302] Fix render warning
  .gitignore
  lib/wraft_doc_web/controllers/fallback_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
Due: mix-test, mix-format, mix-compile, mix-credo

added tests create_instance/3, get_built_document/1, added phoenix_view library
  lib/wraft_doc/document/document.ex
  mix.exs
  mix.lock
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

added tests delete_instance/2, instance_state_update/5
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/document/instance_test.exs
  test/wraft_doc/logic_pipeline/pipeline_runner_test.exs
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc_web/controllers/collection_form_controller_test.exs
  test/wraft_doc_web/controllers/collection_form_field_controller_test.exs
  test/wraft_doc_web/controllers/content_type_role_controller_test.exs
  test/wraft_doc_web/controllers/instance_approval_system_controller_test.exs
  test/wraft_doc_web/controllers/instance_controller_test.exs
  test/wraft_doc_web/controllers/organisation_field_controller_test.exs
  test/wraft_doc_web/controllers/plan_controller_test.exs
  test/wraft_doc_web/controllers/role_group_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

new tests added in document.ex
  lib/wraft_doc/document/document.ex
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

[WD-303] Update README
  README.md
Due: none

new tests added in document.ex
  lib/wraft_doc/document/document.ex
  test/wraft_doc/document/document_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed credo errors
  .credo.exs
  lib/wraft_doc/document/trigger_history.ex
  lib/wraft_doc/organisation/payment.ex
  lib/wraft_doc/user/auth_token.ex
  test/wraft_doc/document/collection_form_field_test.exs
  test/wraft_doc/document/collection_form_test.exs
  test/wraft_doc_web/channels/user_socket_test.exs
  test/wraft_doc_web/controllers/permission_controller_test.exs
  test/wraft_doc_web/controllers/role_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Replaced Posion with Jason
  lib/wraft_doc/document/content_type.ex
  lib/wraft_doc/document/document.ex
  lib/wraft_doc_web/auth/auth_error_handler.ex
  lib/wraft_doc_web/controllers/fallback_controller.ex
  lib/wraft_doc_web/plug/authorized.ex
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Added steps to install pre commit in README
  README.md
Due: none

Skipped a faling test as the context function needs refactoring from head to toe
  test/wraft_doc_web/controllers/permission_controller_test.exs
Due: mix-test, mix-format, mix-credo

refactored oban workers and others
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/notifications/notifications.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/workers/bulk_worker.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc/workers/scheduled_worker.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  mix.exs
  mix.lock
  priv/static/assets/app.js
  test/support/macros/authentication_tests_macro.ex
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
