Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

Updated all dependancies
  mix.exs
  mix.lock
Due: mix-format, mix-credo

Removed unwanted files
  helm/.gitkeep
  package-lock.json
  package.json
Due: none

Removed invalid option from schemas
  lib/wraft_doc/document/asset.ex
  lib/wraft_doc/document/block.ex
  lib/wraft_doc/document/build_history.ex
  lib/wraft_doc/document/collection_form.ex
  lib/wraft_doc/document/collection_form_field.ex
  lib/wraft_doc/document/content_type.ex
  lib/wraft_doc/document/content_type_field.ex
  lib/wraft_doc/document/engine.ex
  lib/wraft_doc/document/field_type.ex
  lib/wraft_doc/document/instance.ex
  lib/wraft_doc/document/layout.ex
  lib/wraft_doc/document/theme.ex
  lib/wraft_doc/organisation/flow.ex
  lib/wraft_doc/organisation/organisation.ex
  lib/wraft_doc/organisation/plan.ex
  lib/wraft_doc/organisation/state.ex
Due: mix-format, mix-compile, mix-credo

Bring gettext code upto date
  mix.exs
Due: mix-format, mix-credo

Used a different ex_audit fork adding support for ecto 3.8
  mix.exs
  mix.lock
Due: mix-format, mix-credo

Updated esbuild version
  priv/static/assets/app.js
Due: none

esbuild version change
  priv/static/assets/app.js
Due: none

Resolve WD-327 "Feature/ registration apis"
  .pre-commit-config.yaml
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/organisation/organisation.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc/user/user_organisation.ex
  lib/wraft_doc_web/controllers/registration_controller.ex
  lib/wraft_doc_web/views/registration_view.ex
  priv/repo/migrations/20221114131719_create_users_organisations_table.exs
  priv/repo/migrations/20221117081454_change_organisation_name_unique_index.exs
  test/support/factory.ex
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc/organisation/organisation_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc/user/user_organisation_test.exs
  test/wraft_doc_web/controllers/registration_controller_test.exs
Due: mix-format, mix-compile, mix-credo

Resolve WD-329 "Feature/ email verification api"
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/user/auth_token.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc_web/controllers/fallback_controller.ex
  lib/wraft_doc_web/controllers/registration_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/email/mailer.ex
  lib/wraft_doc_web/plug/verified_email_check.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/user_view.ex
  mix.exs
  mix.lock
  test/wraft_doc/document/document_test.exs
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc/user/user_test.exs
  test/wraft_doc/workers/email_worker_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
  test/wraft_doc_web/email/email_test.exs
  test/wraft_doc_web/plug/verified_email_check_test.exs
Due: mix-format, mix-compile, mix-credo

WD-353-include-organisation-id-in-the-jwt-access-tokens
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  test/wraft_doc/organisation/enterprise_test.exs
  test/wraft_doc/user/account_test.exs
  test/wraft_doc_web/controllers/user_controller_test.exs
Due: mix-format, mix-compile, mix-credo

Resolve WD-354 "Feature/ create current organisation plug to extract organization details from jwt token"
  lib/wraft_doc/authorization/authorization.ex
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/organisation/enterprise.ex
  lib/wraft_doc/user/account.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc_web/auth/auth_error_handler.ex
  lib/wraft_doc_web/auth/authpipeline.ex
  lib/wraft_doc_web/auth/current_organisation.ex
  lib/wraft_doc_web/auth/current_user.ex
  lib/wraft_doc_web/controllers/payment_controller.ex
  test/support/factory.ex
  test/wraft_doc/document/document_test.exs
  test/wraft_doc_web/auth/current_organisation_test.exs
  test/wraft_doc_web/plug/verified_email_check_test.exs
Due: mix-format, mix-compile, mix-credo

Resolve WD-355 "Feature/ refactor valid membership check plug to use current organisation for the check"
  lib/wraft_doc_web/plug/valid_membership_check.ex
  test/wraft_doc_web/plug/valid_membership_check_test.exs
Due: mix-format, mix-compile, mix-credo

[WD-357] RBAC Migrations
  lib/wraft_doc_web/controllers/approval_system_controller.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
  lib/wraft_doc_web/controllers/block_controller.ex
  lib/wraft_doc_web/controllers/block_template_controller.ex
  lib/wraft_doc_web/controllers/comment_controller.ex
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/controllers/content_type_field_controller.ex
  lib/wraft_doc_web/controllers/data_template_controller.ex
  lib/wraft_doc_web/controllers/engine_controller.ex
  lib/wraft_doc_web/controllers/flow_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/controllers/layout_controller.ex
  lib/wraft_doc_web/controllers/notification_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/organisation_field_controller.ex
  lib/wraft_doc_web/controllers/pipe_stage_controller.ex
  lib/wraft_doc_web/controllers/pipeline_controller.ex
  lib/wraft_doc_web/controllers/profile_controller.ex
  lib/wraft_doc_web/controllers/role_group_controller.ex
  lib/wraft_doc_web/controllers/state_controller.ex
  lib/wraft_doc_web/controllers/theme_controller.ex
  lib/wraft_doc_web/controllers/trigger_history_controller.ex
  lib/wraft_doc_web/controllers/user_controller.ex
  priv/repo/migrations/20230117060205_role_based_access_control_migrations.exs
Due: mix-format, mix-compile, mix-credo

[WD-311] Unhandled runtime error
  lib/wraft_doc/document/document.ex
  lib/wraft_doc/user/user.ex
  lib/wraft_doc/workers/bulk_worker.ex
  lib/wraft_doc/workers/scheduled_worker.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  test/support/conn_case.ex
  test/support/factory.ex
  test/wraft_doc_web/controllers/instance_controller_test.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
