Repository wraft/wraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: Format Elixir files
  entry: mix format
  language: system

mix-compile:
  name: Compile the codebase
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: Check style with Credo
  entry: mix credo
  language: system
  pass_filenames: false

fix: layout issue fixed
  lib/wraft_doc_web/controllers/data_template_controller.ex
  lib/wraft_doc_web/controllers/document_controller.ex
  lib/wraft_doc_web/controllers/layout_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix: minor fix
  docker-compose.yml
  lib/wraft_doc_web/controllers/content_type_field_controller.ex
Due: mix-format, mix-compile, mix-credo

fix: compose file
  docker-compose.yml
Due: none

fix: removed guest invite from permission
  lib/wraft_doc_web/controllers/instance_guest_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix: role assing changed into role manage
  lib/wraft_doc_web/controllers/role_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix: permission update (#70)
  lib/wraft_doc_web/controllers/asset_controller.ex
  lib/wraft_doc_web/controllers/collection_form_controller.ex
  lib/wraft_doc_web/controllers/collection_form_field_controller.ex
  lib/wraft_doc_web/controllers/comment_controller.ex
  lib/wraft_doc_web/controllers/content_type_controller.ex
  lib/wraft_doc_web/controllers/content_type_field_controller.ex
  lib/wraft_doc_web/controllers/dashboard_controller.ex
  lib/wraft_doc_web/controllers/data_template_controller.ex
  lib/wraft_doc_web/controllers/document_controller.ex
  lib/wraft_doc_web/controllers/field_type_controller.ex
  lib/wraft_doc_web/controllers/form_mapping_controller.ex
  lib/wraft_doc_web/controllers/instance_approval_system_controller.ex
  lib/wraft_doc_web/controllers/instance_controller.ex
  lib/wraft_doc_web/controllers/instance_guest_controller.ex
  lib/wraft_doc_web/controllers/layout_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/pipe_stage_controller.ex
  lib/wraft_doc_web/controllers/plan_controller.ex
  lib/wraft_doc_web/controllers/role_controller.ex
  lib/wraft_doc_web/controllers/state_controller.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/controllers/trigger_history_controller.ex
  lib/wraft_doc_web/controllers/vendor_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

script for permission
  priv/repo/data/migrations/updated_permissions.exs
  priv/repo/data/rbac/editor_permissions.csv
Due: mix-format, mix-credo

feat: migration_script added
  priv/repo/data/migrations/updated_permissions.exs
Due: mix-format, mix-credo

feat: new migration_script added
  priv/repo/data/migrations/updated_permissions.exs
Due: mix-format, mix-credo

feat: script to update permissions (#71)
  priv/repo/data/migrations/updated_permissions.exs
  priv/repo/data/rbac/editor_permissions.csv
Due: mix-format, mix-credo

fix: changed organisation to workspace in csv file
  lib/wraft_doc_web/controllers/approval_system_controller.ex
  lib/wraft_doc_web/controllers/content_type_role_controller.ex
  lib/wraft_doc_web/controllers/engine_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/role_group_controller.ex
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix: editor_permission
  lib/wraft_doc_web/controllers/approval_system_controller.ex
  lib/wraft_doc_web/controllers/billing_controller.ex
  lib/wraft_doc_web/controllers/content_type_role_controller.ex
  lib/wraft_doc_web/controllers/engine_controller.ex
  lib/wraft_doc_web/controllers/membership_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/payment_controller.ex
  lib/wraft_doc_web/controllers/role_group_controller.ex
  priv/repo/data/rbac/editor_permissions.csv
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix: name fix
  priv/repo/data/rbac/permissions.csv
Due: none

fix: added global import
  priv/repo/data/rbac/permissions.csv
Due: none

refactor: clean up unused permissions (#73)
  lib/wraft_doc_web/controllers/approval_system_controller.ex
  lib/wraft_doc_web/controllers/billing_controller.ex
  lib/wraft_doc_web/controllers/content_type_role_controller.ex
  lib/wraft_doc_web/controllers/engine_controller.ex
  lib/wraft_doc_web/controllers/membership_controller.ex
  lib/wraft_doc_web/controllers/organisation_controller.ex
  lib/wraft_doc_web/controllers/payment_controller.ex
  lib/wraft_doc_web/controllers/role_group_controller.ex
  priv/repo/data/rbac/editor_permissions.csv
  priv/repo/data/rbac/permissions.csv
Due: mix-format, mix-compile, mix-credo

fix: improvise the request and verification of signature
  lib/wraft_doc/auth_tokens/auth_token.ex
  lib/wraft_doc/auth_tokens/auth_tokens.ex
  lib/wraft_doc/counter_parties/counter_parties.ex
  lib/wraft_doc/counter_parties/counter_party.ex
  lib/wraft_doc/documents/e_signature.ex
  lib/wraft_doc/documents/signatures.ex
  lib/wraft_doc/utils/token_generator.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc_web/controllers/instance_guest_controller.ex
  lib/wraft_doc_web/controllers/signature_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/email/signature_email.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/instance_guest_view.ex
  lib/wraft_doc_web/views/signature_view.ex
  priv/repo/migrations/20250319000001_update_counter_parties.exs
Due: mix-format, mix-compile, mix-credo

chore: remove frame asset join table
  lib/wraft_doc/assets/assets.ex
  lib/wraft_doc/content_types/content_types.ex
  lib/wraft_doc/documents/documents.ex
  lib/wraft_doc/frames/frame.ex
  lib/wraft_doc/frames/frames.ex
  lib/wraft_doc/global_file.ex
  lib/wraft_doc/layouts/layouts.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc_web/admin/frame_admin.ex
  lib/wraft_doc_web/controllers/frame_controller.ex
  lib/wraft_doc_web/controllers/global_import_controller.ex
  lib/wraft_doc_web/views/frame_view.ex
  priv/repo/migrations/20250410022949_alter_frame_table_add_asset.exs
Due: mix-format, mix-compile, mix-credo

chore: remove template asset asset
  lib/wraft_doc/frames/frames.ex
  lib/wraft_doc/global_file.ex
  lib/wraft_doc/template_assets/template_asset.ex
  lib/wraft_doc/template_assets/template_asset_asset.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc/utils/file_helper.ex
  lib/wraft_doc/utils/file_validator.ex
  lib/wraft_doc_web/admin/frame_admin.ex
  lib/wraft_doc_web/admin/template_asset_admin.ex
  lib/wraft_doc_web/controllers/global_import_controller.ex
  lib/wraft_doc_web/controllers/template_asset_controller.ex
  lib/wraft_doc_web/uploaders/asset_uploader.ex
  priv/repo/migrations/20250410174132_alter_template_asset_table_add_asset.exs
Due: mix-format, mix-compile, mix-credo

fix: profile_pic upload
  lib/wraft_doc_web/uploaders/propic_uploader.ex
Due: mix-format, mix-compile, mix-credo

fix: change the sign api to guest path
  lib/wraft_doc_web/controllers/signature_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

fix: profile_pic upload (#75)
  lib/wraft_doc_web/uploaders/propic_uploader.ex
Due: mix-format, mix-compile, mix-credo

chore: fix template asset thumbnail upload
  lib/wraft_doc/template_assets/template_asset.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc/utils/file_helper.ex
  lib/wraft_doc/utils/file_validator.ex
  lib/wraft_doc_web/uploaders/template_asset_thumbnail_uploader.ex
Due: mix-format, mix-compile, mix-credo

feat: add global file preview
  lib/wraft_doc/global_file.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc/utils/file_helper.ex
  lib/wraft_doc/utils/file_validator.ex
  lib/wraft_doc_web/controllers/asset_controller.ex
  lib/wraft_doc_web/controllers/global_import_controller.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/global_import_view.ex
Due: mix-format, mix-compile, mix-credo

chore: import template global file
  lib/wraft_doc/global_file.ex
Due: mix-format, mix-compile, mix-credo

feat: add e signature image uploader
  lib/wraft_doc/documents/e_signature.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/uploaders/signature_uploader.ex
  priv/repo/migrations/20250319000002_update_e_signature.exs
Due: mix-format, mix-compile, mix-credo

feat: add global file validation
  lib/wraft_doc/global_file.ex
  lib/wraft_doc/template_assets/template_assets.ex
  lib/wraft_doc/utils/file_helper.ex
  lib/wraft_doc_web/controllers/global_import_controller.ex
  lib/wraft_doc_web/views/global_import_view.ex
Due: mix-format, mix-compile, mix-credo

refactor: refactor and realign the code
  lib/wraft_doc.ex
  lib/wraft_doc/counter_parties/counter_parties.ex
  lib/wraft_doc/documents/e_signature.ex
  lib/wraft_doc/documents/signatures.ex
  lib/wraft_doc/workers/email_worker.ex
  lib/wraft_doc_web/controllers/signature_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/email/signature_email.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/views/instance_guest_view.ex
  lib/wraft_doc_web/views/signature_view.ex
  priv/repo/migrations/20250319000001_update_counter_parties.exs
  priv/repo/migrations/20250319000002_update_e_signature.exs
Due: mix-format, mix-compile, mix-credo

fix: minor changes on and bug fixes
  lib/wraft_doc/counter_parties/counter_parties.ex
  lib/wraft_doc/documents/e_signature.ex
  lib/wraft_doc/documents/signatures.ex
  lib/wraft_doc/schema.ex
  lib/wraft_doc_web/controllers/signature_controller.ex
  lib/wraft_doc_web/email/email.ex
  lib/wraft_doc_web/router.ex
  lib/wraft_doc_web/uploaders/signature_uploader.ex
  lib/wraft_doc_web/views/signature_view.ex
  priv/repo/migrations/20250319000002_update_e_signature.exs
Due: mix-format, mix-compile, mix-credo

chore: remove old counter party api and combine with current signature requesst api and alter the name of request request api to add counterparty
  lib/wraft_doc_web/controllers/instance_guest_controller.ex
  lib/wraft_doc_web/controllers/signature_controller.ex
  lib/wraft_doc_web/router.ex
Due: mix-format, mix-compile, mix-credo

fix: add timestamp in counter_parties table
  priv/repo/migrations/20250319000001_update_counter_parties.exs
Due: mix-format, mix-credo

chore: remove unwanted fields from e_signature table
  priv/repo/migrations/20250319000002_update_e_signature.exs
Due: mix-format, mix-credo

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
